[2015-01-23 17:16] glguy opened #1 "Hint has an unconstrained (and now incorrect) dependency on utf8-string"
At the transition from version 0... to 1... utf8-string lost his GHC 6.10 IO compatibility modules. This breaks hint. To restore previous build behavior it should have an upper bound of <1. The author of the package has been notified (with hvr CCd)

[2015-01-23 17:47] hvr commented on #1
As @jcpetruzza already acknowledged the change, and I proceeded to add `utf8-string <1` constraints to the following versions:

[code]

[2015-01-23 17:50] hvr commented on #1
[code]

[2015-01-23 17:50] #1 closed

[2015-02-09 10:08] bergmark opened #2 "feed needs utf8-string < 1 upper bound"
Reported here https://github.com/sof/feed/issues/9, (currently) 17 days ago.

Should I go ahead and fix it?

[2015-02-09 12:33] hvr commented on #2
Fwiw, @sof has shown no recent activity on GitHub for several weeks. Personally, I'd go ahead and restrict the upper bounds for `utf8-string`, and make sure @sof is aware that his package needs attention due to `utf8-string`...

however, you'll also need an upper bound on `time`... as it breaks w/ `time-1.5`

[2015-02-09 14:13] bergmark commented on #2
Done.

Commented on that issue and noted the time upper bound here: https://github.com/sof/feed/pull/8

Do we now close this issue?

[2015-02-09 14:28] bergmark commented on #2
As a follow up, should we at some point publish the patches for relaxing these upper bounds?

[2015-03-10 14:08] snoyberg opened #3 "Relax random upper bound on arithmoi"
* Originally reported: https://github.com/fpco/stackage/issues/291 (September 2014)
* Pull request sent in Bitbucket https://bitbucket.org/dafis/arithmoi/pull-request/6/allow-random-11/diff (December 2014)
* Requested change: modify the `random` upper bound to allow 1.1

This is currently preventing upgrade to random 1.1 for any packages depending on arithmoi

[2015-03-10 14:21] hvr commented on #3
(and then there's also this: https://bitbucket.org/dafis/arithmoi/issue/15/fails-to-compile-with-ghc-784-due-to-fllvm ...)

[2015-03-10 14:22] snoyberg commented on #3
I'm fully in favor of patching arithmoi for that issue too, I just wasn't going to push my luck ;). For now, the random upper bound is causing me the most pain, and the fix there seems incredibly non-controversial.

[2015-03-10 14:56] bergmark commented on #3
To push my luck, +1 on both, though an admin would have to change the flag i suppose?

To dig further, shouldn't that flag be manual?

[2015-03-10 15:36] hvr commented on #3
Yes! :-)

[2015-03-10 15:39] hvr commented on #3
@mietek didn't you try to contact the arithmoi author as well? didn't we talk about taking over that package back in January?

[2015-03-10 15:43] hvr commented on #3
I just stumbled over http://comments.gmane.org/gmane.comp.lang.haskell.libraries/21399

[2015-03-10 15:44] cartazio commented on #3
by the same token, gloss-raster forces `-fllvm` to be set as well.

I feel like the right solution would to be allow .cabal files to have a way to express "prefer the llvm backend, if its available", or perhaps in the setup.hs file

[2015-03-10 15:48] mietek commented on #3
A PR relaxing the `random` upper bound was opened in September 2014, by Ryan Scott:
https://bitbucket.org/dafis/arithmoi/pull-request/5/

I’ve forked the package in December, and disabled using the LLVM backend by default:
https://github.com/mietek/arithmoi

The package has at least one major (segfaulting) bug, even with LLVM off:
https://github.com/mietek/arithmoi/issues/1

[2015-03-10 23:10] bergmark commented on #3
I went ahead and published a new revision allowing `time < 1.2`, I hope I am not getting ahead of myself since we are still working on formalizing the procedure.

This is also all that I can do with my trustee permissions.

* Comment on the issue in the source repo: https://bitbucket.org/dafis/arithmoi/pull-request/6/allow-random-11/diff#comment-5585641
* Hackage revision info: http://hackage.hask

[2015-03-11 02:33] cartazio commented on #3
ok, @hvr  points out that http://comments.gmane.org/gmane.comp.lang.haskell.libraries/21399 may constitute authoriztion for me to be added to the maintainers list for arithmoi (which is something i'm happy to help with). (nb, if thats acceptable to others, note that i'll be happy to at least be a centralized point for patch merging, i'm still navigating intellectual property madness at current emp

[2015-03-11 05:28] snoyberg commented on #3
Thanks guys, I can finally move Stackage up to random-1.1. I'd consider this issue closed; since there still seems to be some discussion, I won't close it myself, but don't hold it open on my account.

[2015-03-17 10:40] hvr opened #4 "Emergency ansi-wl-pprint NMU for GHC 7.10.1 compat"
See also https://github.com/batterseapower/ansi-wl-pprint/pull/11

[2015-03-17 10:44] ekmett commented on #4
We reached out to @batterseapower ~9 days ago in advance of the release candidate, both through github and through email.

We already have a precedent of adopting one of his packages: https://github.com/haskell/test-framework

The package is in very wide use, especially when you consider transitive dependencies: http://packdeps.haskellers.com/reverse/ansi-wl-pprint

I say we should pull the trigge

[2015-03-17 12:28] cartazio commented on #4
I think given the scope of impact, and the lack of response in reaching him
for lower impact things the past few months, its appropriate to upload a
bug fix release as long as several CLC/trustee folks sign off before we
upload
On Mar 17, 2015 6:44 AM, "Edward Kmett" <notifications@github.com> wrote:

[2015-03-17 14:20] tibbe commented on #4
I think we should go ahead. Where do we put the patches so they can be pushed upstream eventually? Shall we put the repo under the haskell GitHub org? We should also email @batterseapower and let him know what we did.

[2015-03-17 14:24] ekmett commented on #4
Pulling a (possibly temporary) fork into the haskell github org seems like the right direction.

[2015-03-18 11:34] dcoutts commented on #4
So the trustee's tentative policy (in @bergmark's initial proposal) is to give authors two weeks in this situation. I worry that's a little low even (or that other authors will think it's a little low). So I suggest we prepare but don't actually upload until that two weeks has passed, which if I'm counting correctly is this coming Sunday.

[2015-03-18 13:45] tibbe commented on #4
We should also try to assess the author's general presence in the community (i.e. has he/she been absent for a while.) I definitely take longer than 2 week vacations and I'd hate if someone hijacked my packages while I was lying on the beach.

[2015-03-18 16:46] ekmett commented on #4
In general I agree. In this particular case, @batterseapower has been MIA for over a year. If you check his github history, he hasn't touched a single Haskell project in that entire time.

We can delay if you want, but it means that we basically burn another 4-5 days of effective testing with RC3, which already had a vanishingly small release cycle, during which nobody can build any of the testing

[2015-03-18 17:01] tibbe commented on #4
Please don't delay. What I meant it's just that. We know he is mia.

[2015-03-19 04:01] cartazio commented on #4
yes, in general the process should be 1+ (or even 2-6+ months) for things, but we know he's been mia for a year, and many folks have made a best effort attempt to reach him at various points in the past 6 months with no responses, so in that case, we have a strong consensus that

1) the maintainer has not only been inactive for a long period of time, but more *importantly*
2) has been impossible t

[2015-03-19 04:02] cartazio commented on #4
point being: lets do this, and i'm willing to take the blame if its a bad call :)

[2015-03-19 05:54] snoyberg opened #5 "Relax upper bound on th-orphans in haskell-src-meta"
Upstream issues:

* Repo itself (9 days ago): https://github.com/bmillwood/haskell-src-meta/issues/39
* Author pinged on Stackage (1 month ago): https://github.com/fpco/stackage/issues/440

I've just tested, and the th-orphans dependency can safely be relaxed to `< 0.12`.

This is forcing other packages to be held back to older versions, which increases chance of breakage and known buggy versions

[2015-03-19 09:37] bergmark commented on #5
+1

[2015-03-19 10:11] hvr commented on #5
fwiw, I just ran a matrix-build for `haskell-src-meta`: https://ghc.haskell.org/~hvr/buildreports/haskell-src-meta.html to see if there's anything else worthy to fixup. But it's mostly `0.0.*` w/ GHC 7.0 that's broken which seems rather uninteresting to fix.

[2015-03-20 19:38] 23Skidoo commented on #4
+1 on not delaying.

[2015-03-21 20:48] ndmitchell commented on #4
I know Max, he's a nice guy (although I've not been able to raise him in the last week) - he's not going to object to an obviously correct fix. Again, I'd also be willing to take the blame, and I think in future when there is no one who thinks its the wrong thing to do, we should probably be more keen to take action much quicker. If I'm on a beach without internet for two weeks and one of my packa

[2015-03-22 10:38] snoyberg commented on #5
Looks like there are no objections, any chance of getting the upper bound relaxed?

[2015-03-22 20:53] snoyberg opened #6 "atto-lisp has restrictive blaze-builder upper bounds"
* Original report: https://github.com/fpco/stackage/issues/442
* Second report: https://github.com/nominolo/atto-lisp/issues/16
* Pull request: https://github.com/nominolo/atto-lisp/pull/17

This is just a straightforward upper bound relaxation, and requires no code change.

[2015-03-24 13:22] hvr commented on #4
As over 2w have passed without reaction from @batterseapower I've gone ahead an uploaded http://hackage.haskell.org/package/ansi-wl-pprint-0.6.7.2

While at it, I also edited the `.cabal` files for previous releases to tighten upper bounds where needed

[2015-03-24 13:22] #4 closed

[2015-03-24 18:55] ekmett commented on #4
Looks like we delayed anyways.

[2015-03-25 09:05] snoyberg commented on #5
Bumping again. Is there objection to moving forward with this?

[2015-03-25 09:55] hvr commented on #5
@snoyberg done

[2015-03-25 09:55] #5 closed

[2015-03-25 12:09] hvr opened #7 "`arithmoi` fails to compile with GHC 7.8.4 due to `-fllvm` flag"
https://bitbucket.org/dafis/arithmoi/issue/15/fails-to-compile-with-ghc-784-due-to-fllvm

This is a continuation of #3 (which was only about relaxing bounds which has been accomplished), see comments there for initial part of the discussion pertaining to the NMU issue at hand

[2015-03-25 12:09] hvr commented on #3
let's continue the NMU-issue in #7

[2015-03-25 12:09] #3 closed

[2015-03-25 12:31] cartazio commented on #7
I think I'm now the maintainer at least temporarily, I'll dig into this
next weekend when I have some time.
On Mar 25, 2015 8:09 AM, "Herbert Valerio Riedel" <notifications@github.com>
wrote:

[2015-03-25 12:33] mietek commented on #7
Perhaps the solution is as simple as disabling the `-fflvm` flag by default.
https://github.com/mietek/arithmoi/commit/4326fe575029f50fded52c4c42b84016363eaf98

[2015-03-25 13:35] hvr commented on #7
@mietek that's not enough to be a proper fix, it also ought to become a manual flag as it makes no sense to have it an automatic flag in the first place (as it doesn't affect the solver)

[2015-03-25 13:54] mietek commented on #7
@hvr: Thanks for pointing that out. I’ve now amended the commit (https://github.com/mietek/arithmoi/commit/f49603f05f24f1c48361ff37f20e32dacc214c3b).

[2015-03-28 04:37] davean opened #8 "stringsearch fails to compile on 7.10"
https://bitbucket.org/dafis/stringsearch/issue/1/compilation-errors-using-ghc-head#comment-16980851

BryanOSullivan has given the signoff for a Trustees release to fix this (https://twitter.com/bos31337/status/581674139158609921).

[2015-03-28 04:51] cartazio commented on #8
sounds good to me.
lets just runn it through travis CI using https://github.com/hvr/multi-ghc-travis/blob/master/.travis.yml to sanity check that it works on the target supported range and then we can push it

[2015-03-28 04:59] cartazio commented on #8
once https://travis-ci.org/haskell-infra/stringsearch is all green, lets push it

[2015-03-28 05:00] cartazio commented on #7
i did a push earlier this evening, please confirm that the new version works fine on non llvm < 7.10 systems :)

also still left is migrating code to support 7.10 gmp : )

[2015-03-28 05:07] cartazio commented on #8
looks all green. If someone does the upload tomorrow before i wakeup, awesome, else i'll do it then

[2015-03-28 07:14] hvr commented on #7
I've filed https://github.com/cartazio/arithmoi/issues/1 for the `integer-gmp-1.0` issue, and I can confirm that 0.4.1.2 builds again for `llvm`-incapable GHC installs

[2015-03-28 07:14] #7 closed

[2015-03-28 07:25] hvr commented on #8
@cartazio btw, let's rather avoid spamming `haskell-infra` with package-repos until we've decided which GitHub org to use for NMU forks

[2015-03-28 13:40] mietek commented on #7
@cartazio: Thanks for taking over the maintenance.

[2015-03-28 14:44] cartazio commented on #8
Davean created that repo :)
On Mar 28, 2015 3:25 AM, "Herbert Valerio Riedel" <notifications@github.com>
wrote:

[2015-03-28 15:26] davean commented on #8
I was just trying to follow the draft as close as possible.

On Sat, Mar 28, 2015 at 3:25 AM, Herbert Valerio Riedel <
notifications@github.com> wrote:

[2015-03-28 16:45] bergmark commented on #6
Applied, http://hackage.haskell.org/package/atto-lisp-0.2.2/revisions/ .

[2015-03-28 16:45] #6 closed

[2015-03-28 17:26] hvr commented on #8
changes LGTM :+1:

[2015-03-30 16:34] seanhess opened #9 "download-curl depends on tag-soup < 0.13, which fails on ghc 7.10."
Getting a compile error from changes to Data.List. It's already been fixed in tag-soup 0.13.3, but download-curl's cabal file depends on tag-soup < 0.13.

[2015-03-31 13:47] RayRacine opened #10 "Latest Lens and WAI stack conflict over primitive."
Latest WAI stack requires primitive 0.6, while most recent Lens has upper bound of primitive <0.6

trying: wai-app-static-3.0.0.6
trying: cryptohash-conduit-0.1.1 (dependency of wai-app-static-3.0.0.6)
trying: conduit-extra-1.1.7.1 (dependency of cryptohash-conduit-0.1.1)
trying: primitive-0.6 (dependency of conduit-extra-1.1.7.1)
...
rejecting: lens-4.8 (conflict: primitive==0.6, lens => primitiv

[2015-03-31 14:32] cartazio commented on #10
Sounds like a bug on wai.   Lens hasn't cut a 0.6 release yet, though
though master has support already.  4.9 will support 0.6
On Mar 31, 2015 9:47 AM, "Ray Racine" <notifications@github.com> wrote:

[2015-03-31 14:56] bergmark commented on #10
@RayRacine please see https://github.com/haskell-infra/hackage-trustees/blob/master/CONTRIBUTING.md

So far this is not enough information for me to reproduce the issue.

I also don't see any package that requires `primitive >= 0.6`: http://packdeps.haskellers.com/reverse/primitive . Are you sure a package is introducing this constraint?

[2015-04-02 15:03] #2 closed

[2015-04-02 15:04] bergmark commented on #8
Can we close this?

[2015-04-02 16:20] bergmark commented on #9
I've revised tagsup versions `> 0.1 && < 0.13` to have a `base < 4.8` constraint, and `download-curl` `0.0`, `0.1`, and `0.1.1` to require `tagsoup > 0.1 && < 0.13`. You now get a dependency resolution error if trying to install `download-curl` on GHC 7.10.

@seanhess have you contacted the maintainer of download-curl about adding GHC 7.10 support? Please see https://github.com/haskell-infra/hacka

[2015-04-02 17:17] #8 closed

[2015-04-03 00:43] bergmark opened #11 "cgi < 3000.2"
Trying out @hvr's awesome matrix builder :-)

`cgi < 3000.2` needs at least `base < 4.7` and `network < 2.6`

I only did a build with GHC 7.8.3:
http://164.138.31.15/matrix/cgi.html & http://164.138.31.15/matrix/cgi.log

[2015-04-03 02:50] cartazio commented on #11
paging @cheecheeo, care to do teh honors as current maintainer, or would you like @bergmark to fire the missiles?

[2015-04-03 04:07] cheecheeo commented on #11
cgi < 3001.2 won't build with >= GHC 7.8.3, this will change the .cabal files to inform cabal of that?

If so, go for it.

[2015-04-03 08:25] hvr commented on #11
btw, here's some older (at time of writing it was generated on 28-Mar-2015) report ran against more GHC versions: https://ghc.haskell.org/~hvr/buildreports/cgi.html

[2015-04-03 09:53] bergmark commented on #11
ah i forgot to check your archives!

[2015-04-03 11:21] bergmark commented on #11
I changed the bounds i mentioned, running another build on more GHC versions now.

[2015-04-03 12:00] bergmark commented on #11
This should be enough for me http://164.138.31.15/matrix/cgi.html so I'll close this.

[2015-04-03 12:00] #11 closed

[2015-04-03 17:22] bergmark opened #12 "feed: allow utf8-string 1"
Issue opened jan 23: https://github.com/sof/feed/issues/9
Pull request opened jan 30: https://github.com/sof/feed/pull/10

Seems like the PR contains a straight forward fix.

[2015-04-03 17:59] bergmark opened #13 "generic-deriving 1.5.0 build failure with template-haskell 2.9"
Build status: http://164.138.31.15/matrix/generic-deriving.html

I already published a new revision, so no further action required.

Pinging @dreixel just to inform that I made the change.

[2015-04-03 17:59] #13 closed

[2015-04-03 20:58] seanhess commented on #9
I just emailed him, I don't see another way to do it.

[2015-04-03 20:59] seanhess commented on #9
The email listed on the hackage page is down, and it failed to deliver.

[2015-04-04 13:53] dreixel commented on #13
I'm sorry but I don't understand this. What exactly broke, and how did you fix it?

[2015-04-06 10:27] bergmark commented on #13
@dreixel You can hover the failed build, 1.5.0 on ghc 7.8.3 here http://164.138.31.15/matrix/generic-deriving.html to get the compilation error. The upper bound on TH was too loose.

I fixed it by publishing a new revision of the cabal file using hackage's edit medatada feature, the change can be seen here: http://hackage.haskell.org/package/generic-deriving-1.5.0/revisions/

[2015-04-06 11:48] bergmark opened #14 "wl-pprint doesn't build on GHC 7.10"
I've revised all versions to have `base < 4.8`, I tried to e-mail the maintainer but the e-mail address is no longer in use.

[2015-04-06 11:50] bergmark commented on #14
Build log before changes: http://164.138.31.15/matrix/wl-pprint.html

I'd like an NMU for this, the fix is just `import Prelude hiding ((<$>))`.

[2015-04-06 19:36] hvr commented on #14
@bergmark just take into account that `hiding ((<$>))` requires CPP, which is why I went a different route when fixing `ansi-wl-pprint` (which suffered from the very same issue)

[2015-04-06 20:23] dreixel commented on #13
Ok, thanks!

[2015-04-06 20:54] bergmark opened #15 "sourcemap doesn't build on GHC < 7.4, and non-newest versions need aeson < 0.7"
Fixed.

@chrisdone you may want to use `mappend` instead of `<>` to get GHC < 7.4 support, or bump the lower bound of base to `>= 4.5` for future releases of sourcemap.

[2015-04-06 20:54] #15 closed

[2015-04-07 00:17] bmillwood commented on #5
Pinging me on Stackage isn't great as a notification mechanism, since I'm not involved in the Stackage project at all and haven't been paying attention to what it is or how it works. There wasn't any explicit identification in either of the pings that this issue was particularly urgent.

That said, I have no objections to what happened here, and have also added another contributor on the github so

[2015-04-08 12:30] bergmark opened #16 "product-profunctors requires template-haskell < 2.10"
Fixed with new revisions.

Old build matrix: http://164.138.31.15/matrix/product-profunctors.html

@tomjaguarpaw, you may want to release a new version supporting `template-haskell-2.10` or add an upper bound in your source repository.

[2015-04-08 12:30] #16 closed

[2015-04-08 13:10] bergmark opened #17 "MaybeT"
Build matrix: http://164.138.31.15/matrix/MaybeT.html

Did 0.1.0 of this package ever build? Should I just restrict the `base` dep to below the lowest I tested with?

[2015-04-08 15:21] cartazio opened #18 "i *believe* io-streams should allow primitive 0.6"
this is really a discussion to have with greg collins, but documenting it here.

[2015-04-08 15:22] cartazio commented on #18
https://github.com/snapframework/io-streams/issues/39

[2015-04-08 18:54] bergmark opened #19 "edit-distance and GHC 7.10"
Matrix build before revisions: http://164.138.31.15/matrix/edit-distance.html
I added upper bounds on base.

A PR was opened 9 days ago to add GHC 7.10 compatibility: https://github.com/batterseapower/edit-distance/pull/3 , The fix is backwards-compatible, enabling `FlexibleContexts` in one module.

Opening this seeing as we did an NMU for another package by @batterseapower and he still shows no g

[2015-04-08 19:34] bergmark commented on #14
Here's my suggested fix following @hvr's example https://github.com/bergmark/wl-pprint/compare/8be0f38...1.1.0.1

[2015-04-08 19:45] bergmark commented on #9
I sent him a message on twitter, sorry for the delay. https://twitter.com/adambergmark/status/585888720957616132

This also depends on https://github.com/haskell-infra/hackage-trustees/issues/12 , otherwise you have to use `time < 1.2`.

[2015-04-08 19:48] bergmark commented on #18
greg uploaded a new version.

[2015-04-08 19:48] #18 closed

[2015-04-08 19:59] gbaz commented on #9
I believe @soenkehahn may have taken over as maintainer, even if the maintainer field wasn't uploaded? I remember a number of dons' packages were taken over or at least given shared maintainership over the last years as he's gotten more busy elsewhere...

[2015-04-08 22:33] tomjaguarpaw commented on #16
It doesn't build with 2.10?  Does that mean it doesn't build with GHC 7.10?  Can I get a build log?  As far as I know it built OK on Stackage 7.10.

[2015-04-08 22:38] bergmark commented on #16
http://164.138.31.15/matrix/product-profunctors.log

[2015-04-09 03:03] soenkehahn commented on #9
No, I haven't. I just uploaded a new version to hackage (with dons' permission).

[2015-04-09 08:20] hvr commented on #4
for the record, @ekmett initiated package-takeover via https://mail.haskell.org/pipermail/libraries/2015-March/025352.html

[2015-04-09 09:33] tomjaguarpaw commented on #16
I added 0.6.1 which supports TH 2.9 and 2.10

[2015-04-09 10:42] bergmark commented on #16
Thank you sir!

[2015-04-09 15:08] hvr commented on #16
@tomjaguarpaw fyi, I'll edit in a `base >= 4.5` constraint as `product-profunctors` depends on `<>` which didn't exist before `base-4.5`:

[code]

[2015-04-10 10:49] bergmark commented on #12
Just opened another PR for time 1.5 support: https://github.com/sof/feed/pull/14

[2015-04-11 14:16] bergmark opened #20 "aeson and time 1.5"
Build matrix for 7.6.3: http://164.138.31.15/matrix/stamp/aeson-20150411-1603.html

@bos, I added upper bounds where needed already, no further action needed.

[2015-04-11 14:16] #20 closed

[2015-04-11 20:11] cartazio opened #21 "implicit has no version bounds at alll"
https://hackage.haskell.org/package/implicit

NONE, and people are trying to build it for whatever reason, we should fix that up

[2015-04-13 16:25] neitsab commented on #12
feed is unmaintained: its developer's account has seen [no activity since May 2014](/sof) and the repo itself hasn't been touched since [October 2013](/sof/feed/commits/master).

 It would be great if somebody could pick it up here or in Stackage: a few packages ([gitit](/jgm/gitit/issues/485#issuecomment-89334399), [git-annex](/fpco/stackage/pull/519)...) currently don't build because of it.

Tha

[2015-04-13 17:26] bergmark commented on #12
I sent him an e-mail, I'll send an email to libraries if I get no response.

[2015-04-13 17:53] neitsab commented on #12
Great thank you!

[2015-04-14 07:21] bergmark commented on #21
@cartazio here's the build matrix, do you want to fix this? http://164.138.31.15/matrix/stamp/implicit-20150412-0039.html

[2015-04-14 07:27] bergmark opened #22 "transformers-base-0.4.4 build failure on GHC 7.2"
I fixed this with a new revision: http://hackage.haskell.org/package/transformers-base-0.4.4/revisions/
Build matrix before change: http://164.138.31.15/matrix/stamp/transformers-base-20150414-0213.html
Build matrix after change: http://164.138.31.15/matrix/stamp/transformers-base-20150414-0917.html

Pinging @mvv, no further actions needed.

[2015-04-14 07:27] #22 closed

[2015-04-14 15:10] bergmark commented on #14
wl-pprint seems to have changed maintainers, 1.2 supports GHC 7.10.

[2015-04-14 15:10] #14 closed

[2015-04-14 16:34] hvr commented on #14
https://noamlewis.wordpress.com/2015/04/14/the-wl-pprint-package-maintainer/

[2015-04-15 20:10] bergmark opened #23 "language-ecmascript 0.17 & 0.16.2 build failure on GHC 7.10"
Same build error for both versions

[code]

Fixed by restricting to `base < 4.8`, no further action necessary.

Pinging @achudnov.

[2015-04-15 20:10] #23 closed

[2015-04-15 22:44] achudnov commented on #23
There is a candidate fix, but I'll need a few days to set up an environment with 7.10 to test it.

[2015-04-17 21:13] abbradar opened #24 "Fix unlambda and brainfock for GHC 7.10"
They have no maintainers and need straightforward patches to fix building with GHC 7.10:

https://github.com/NixOS/nixpkgs/blob/6e9a6e57cb9104491aa8d633e5c15edb80ca4c06/pkgs/development/haskell-modules/brainfuck-fix-ghc710.patch
https://github.com/NixOS/nixpkgs/blob/6e9a6e57cb9104491aa8d633e5c15edb80ca4c06/pkgs/development/haskell-modules/unlambda-fix-ghc710.patch

This (among other fixes) is need

[2015-04-17 22:56] achudnov commented on #23
Fix released as 0.17.0.1 (https://hackage.haskell.org/package/language-ecmascript-0.17.0.1)

[2015-04-18 09:27] hvr opened #25 "`Diff-0.3.1` needs lower-bound restricted"
Diff-0.3.0 still built with GHC 7.0 and GHC 7.2, Diff-0.3.1 does not due to use of `(<>)`

[code]

[2015-04-18 09:32] hvr commented on #25
I've restricted the lower bound (see https://hackage.haskell.org/package/Diff-0.3.1/revisions/) and contacted the author via email

[2015-04-18 11:41] hvr commented on #23
To make this complete, I also added a few lower/upper bounds to the historic versions `0.10` through `0.15.2`, specifically:

 - `QuickCheck` from `>=2.5` to `>=2.5 && <2.7`
 - `template-haskell` from `== *` to `>=2.6`
 - `containers` from `>=0.1` to `>=0.4.2`

This mostly improves the experience for GHC 7.0/7.2/7.4 users

[2015-04-18 12:06] hvr commented on #17
Yeah, I'd just set `base <4.3` for `0.1.0` (and `base<4.8` for `0.1.1` and `0.1.2`); that would accurately cover all GHC 7.* releases...

[2015-04-18 12:16] hvr commented on #24
I've just added respective upper bounds on `base` to keep Cabal from running into compile failures. We still need to handle the NMU part though.

From where do you infer those packages have no maintainer?

[2015-04-18 12:31] abbradar commented on #24
Well, `Maintainer` field is `None` for both `unlambda` and `brainfuck`.

[2015-04-18 18:42] joeyh commented on #12
I've pulled the relevant fixes into http://github.com/joeyh/feed

[2015-04-20 13:04] bergmark commented on #12
I sent an e-mail to sof & café to request maintainership https://mail.haskell.org/pipermail/haskell-cafe/2015-April/119211.html

[2015-04-20 16:31] bergmark commented on #12
@dcoutts Can you please clarify: Do you admins decide on a case by case basis how long to wait before a takeover? What do you think is a reasonable duration in this case?

[2015-04-20 16:41] bergmark commented on #19
I sent an e-mail to Max.

[2015-04-20 17:15] gbaz commented on #12
I thought we could do an NMU in a two week timeframe regardless short of a full takeover? I'd be happy to see one here. I'll kick off an email thread about pinning down a takeover timetable.

[2015-04-21 10:48] bergmark commented on #17
Did just that, thanks!

http://hackage.haskell.org/package/MaybeT-0.1.0/revisions/
http://hackage.haskell.org/package/MaybeT-0.1.1/revisions/
http://hackage.haskell.org/package/MaybeT-0.1.2/revisions/

[2015-04-21 10:48] #17 closed

[2015-04-21 11:19] bergmark commented on #12
Thanks @joeyh. I rebased this to make the commit history clearer and added a changelog entry. I also removed the travis file, I think we should keep NMU's as small as possible.

This adds the `time-compat` dependency from my PR, I consider that better than CPP, any thoughts on that?

https://github.com/sof/feed/compare/master...bergmark:master

[2015-04-24 14:34] bergmark commented on #12
I'm still learning the process of all of this :)

I emailed Sigbjorn saying I want to do an NMU in a week.

[2015-04-24 14:42] bergmark opened #26 "bed-and-breakfast"
Mike Meyer wants to take over bed-and-breakfast, e-mail to libraries was sent 2015-04-15. Recording it here so it's not forgotten.

https://mail.haskell.org/pipermail/libraries/2015-April/025477.html

[2015-04-24 14:42] bergmark commented on #25
Is there any reason to keep this open?

[2015-04-24 14:43] bergmark commented on #10
Since no further information has been supplied I'll close this. Please let us now if you think we should re-open.

[2015-04-24 14:43] #10 closed

[2015-04-24 20:23] hvr commented on #25
not really...

[2015-04-24 20:23] #25 closed

[2015-04-25 12:33] hvr opened #27 "fast-logger needs its bounds restricted"
Currently, `fast-logger` runs into compile failures with GHC < 7.6 due to lack of bounds on `bytestring` causing failures such as

[code]
or

[code]

[2015-04-25 13:42] hvr commented on #27
Current build-matrix:

![untitled](https://cloud.githubusercontent.com/assets/285533/7333105/96766cc6-eb61-11e4-87d8-f4457b19bb10.png)

[2015-04-25 13:54] hvr commented on #27
Matrix now after edits

![untitled2](https://cloud.githubusercontent.com/assets/285533/7333146/48687612-eb63-11e4-8020-ab9c3f1f1f3d.png)

[2015-04-25 15:11] bergmark opened #28 "pred-trie needs base >= 4.8"
![screen shot 2015-04-25 at 17 10 25](https://cloud.githubusercontent.com/assets/100681/7333378/15cdeef2-eb6e-11e4-99d9-b5a633637e68.png)

[2015-04-25 15:17] bergmark commented on #28
![screen shot 2015-04-25 at 17 16 55](https://cloud.githubusercontent.com/assets/100681/7333398/e849dba2-eb6e-11e4-9468-a3fc4abe5476.png)

[2015-04-25 15:20] bergmark commented on #28
@athanclark I've restricted all versions to require `base >= 4.8` with new revisions on hackage. I recommend you add that constraint in the repository or work on backwards compatibility. The errors were because `<$>` and others were not in `Prelude` before GHC 7.10.

[2015-04-25 15:46] athanclark commented on #28
Thank you @bergmark. The package still isn't quite finished, still in development phase - as soon as v1 comes around I'll try to push compiler compatibility, too.

[2015-04-25 16:17] bergmark commented on #28
You're welcome! Hack on

[2015-04-25 16:17] #28 closed

[2015-04-25 17:28] bergmark commented on #24
That should be evidence enough I think :-)

I see no reason why we can't just do an NMU straight away then (but, sorry for my delayed response!)

We can probably do a takeover immediately too, would you be interested in maintaining any of the packages @abbradar?

[2015-04-25 17:59] bergmark commented on #24
Here are suggestions for NMU, both compile on GHC 7.0.4 and 7.10.1

https://github.com/hackage-trustees/unlambda/compare/ca97b02...0.1.4
https://github.com/hackage-trustees/brainfuck/compare/cc461e...0.1.0.1

Can a trustee review please?

[2015-04-25 19:28] bergmark opened #29 "hsini > 0.1 build failure on GHC 7.0 (needs base >= 4.4)"
Setup.hs is using `catchIOError`

[code]

![screen shot 2015-04-25 at 21 26 08](https://cloud.githubusercontent.com/assets/100681/7334410/d3fb0af4-eb91-11e4-9bd0-e64f7a654004.png)

[2015-04-25 19:37] bergmark commented on #29
![screen shot 2015-04-25 at 21 33 35](https://cloud.githubusercontent.com/assets/100681/7334440/c8a509d8-eb92-11e4-86a2-80ef3e957abc.png)

@magthe I've published revisions restricting the offending versions to `base >= 4.4`. I recommend you make that change in the repository as well or work on backwards compatibility.

[2015-04-25 21:16] bergmark opened #30 "Base bounds needed for HList"
I'm tired of editing cabal files for today :-) So if anyone else feels like it go ahead!

![screen shot 2015-04-25 at 23 14 04](https://cloud.githubusercontent.com/assets/100681/7334876/152e4d42-eba1-11e4-9f69-abcc606ac57b.png)

[2015-04-25 21:21] bergmark commented on #30
`poly-arity` is also breaking because of this.

[2015-04-25 22:36] abbradar commented on #24
@bergmark Well, I wanted to get some experience in Hackage package maintenance, and those two look simple enough, so yes, I'm in if you don't mind a newbie taking over them.

[2015-04-26 01:42] cartazio commented on #30
paging @aavogt

[2015-04-26 12:45] bergmark commented on #24
Sounds good to me!

I sent an e-mail to @gwern to check if he is okay with a transfer.

[2015-04-26 16:11] gwern commented on #24
If you want to start maintaining them, go ahead.

[2015-04-26 16:17] bergmark commented on #30
Fixed. @aavogt please update the source repo to have a `base >= 4.6 && < 4.8` constraint.

![screen shot 2015-04-26 at 18 15 51](https://cloud.githubusercontent.com/assets/100681/7338077/57619d64-ec40-11e4-9751-72424d2343b6.png)

[2015-04-26 16:22] bergmark commented on #24
Thanks for letting us know @gwern!

@abbradar what is your hackage user name?

[2015-04-26 16:40] abbradar commented on #24
@bergmark "abbradar"

[2015-04-26 16:51] bergmark commented on #24
@gwern Can you please add him as a maintainer on hackage?

* http://hackage.haskell.org/package/unlambda/maintainers/edit
* http://hackage.haskell.org/package/brainfuck/maintainers/edit

[2015-04-26 17:13] bergmark commented on #24
I noticed it's done, thank you Gwern!

@abbradar If you would like you can use the repositories we added under the hackage-trustees organization. I invited you to a team so you can transfer the repositories to your account. They contain my suggested patches, feel free to do what you want with them.

[2015-04-26 17:21] phadej opened #31 "edit-distance and lattices"
Oleg Grenrus (= me, @phadej) wants to take over edit-distance and lattices. e-mail to libraries sent on 2015-04-26: https://mail.haskell.org/pipermail/libraries/2015-April/025553.html

Related issue: https://github.com/haskell-infra/hackage-trustees/issues/19

[2015-04-26 17:22] phadej commented on #31
Ping @batterseapower

[2015-04-27 16:13] l29ah opened #32 "monad-peel"
Won't compile on GHC 7.8.2 and newer. I've sent mails to Anders Kaseorg <andersk@mit.edu> at 7/21/14 and 11/17/14. I maintain a package that uses it: Network-NineP. I have a dumb patch for it that keeps me going: https://dump.bitcheese.net/files/ofawana/monad-peel-ghc-7.8.2.patch

[2015-04-28 09:24] abbradar commented on #24
@bergmark Thanks, I've transferred repositories to my account -- you can remove the team.

[2015-04-28 22:38] bergmark commented on #32
Maintenance of the cgi package was transferred from Anders a while ago, he seems to not be active anymore.

@l29ah would you like to take over maintenance of monad-peel? If so, please send an e-mail stating this to haskell-café or libraries with Anders cc'd.

[2015-04-28 22:47] l29ah commented on #32
I'd like to take the maintenance of monad-peel as it's currently broken
and Anders seems unavailable.

--
()  ascii ribbon campaign - against html mail
/\  http://arc.pasp.de/   - against proprietary attachments

[2015-04-29 04:20] l29ah commented on #32
I'm in favor of this move. But a question for you: what's the use case for
which you're using monad-peel? Most of the cases I've had (and I've seen
others have) now use monad-control instead.

On Wed, Apr 29, 2015 at 2:13 AM Sergey Alirzaev <zl29ah@gmail.com> wrote:

[2015-04-30 09:26] bergmark commented on #32
Confusing with the reply-all ;-)

Anyway, here's the takeover request: https://mail.haskell.org/pipermail/libraries/2015-April/025572.html

[2015-04-30 09:28] #29 closed

[2015-04-30 09:29] #30 closed

[2015-05-01 15:33] bergey opened #33 "cautious-file should allow filepath-1.4"
[cautious-file](http://hackage.haskell.org/package/cautious-file) builds locally with `filepath-1.4` if I just change the .cabal file.  I help maintain [diagrams-haddock]( http://hackage.haskell.org/package/diagrams-haddock) which depends on `cautious-file`.

I emailed a patch to the author on 2015-04-15, and have not heard back.

(The Hackage page makes it look like there are no bounds on the dep

[2015-05-01 16:11] bergmark commented on #33
The package only uses filepath in one place, calling `splitFileName` so it looks ok to me, i'll update.

[2015-05-01 16:15] bergmark commented on #33
http://hackage.haskell.org/package/cautious-file-1.0.2/revisions/

Also sent an e-mail to robin.

[2015-05-01 16:15] #33 closed

[2015-05-01 16:33] bergey commented on #33
That was fast.  Thanks!

[2015-05-02 09:34] bergmark opened #34 "resourcet"
After fixes: http://matrix.hackage.haskell.org/package/resourcet

Newest versions needed `base >= 4.5`, some older versions needed older versions of `exceptions`.

Ping @snoyberg, please increment the lower bound on base for the next release.

[2015-05-02 18:02] snoyberg commented on #34
Added in repo, thanks.

[2015-05-02 19:08] #34 closed

[2015-05-03 00:39] gbaz commented on #12
about time?

[2015-05-03 00:41] gbaz commented on #9
So I think we have ongoing permission to do a NMU on this, if someone wants to tackle it.

[2015-05-03 00:44] gbaz commented on #19
ok i think we're ok to do an nmu on this now?

[2015-05-03 00:44] gbaz commented on #21
@cartazio ping?

[2015-05-03 00:45] gbaz commented on #27
@hvr i guess this is fixed now?

[2015-05-03 01:08] cartazio commented on #21
I'm not the maintainer.... Why are you pinging me?

On Saturday, May 2, 2015, gbaz <notifications@github.com> wrote:

[2015-05-03 01:11] gbaz commented on #21
Because as a trustee you can edit the bounds, which is  what @bergmark suggested you tackle?

[2015-05-03 01:41] cartazio commented on #21
Ahhhhh.  I'll take a look tomorrow.

On Saturday, May 2, 2015, gbaz <notifications@github.com> wrote:

[2015-05-03 05:57] bergmark commented on #12
Yes! Just need a trustee to review.

[2015-05-03 05:59] bergmark commented on #19
Yes, I forgot to say that I sent another e-mail to Max a week ago saying we'd do an NMU. I'll prepare the fix.

[2015-05-03 06:08] bergmark commented on #19
https://github.com/batterseapower/edit-distance/compare/master...hackage-trustees:master

Tested on GHC-7.0 through 7.10.

Trustee review please!

[2015-05-03 06:29] bergmark commented on #21
We seem to be having some *cough* technical difficulties w/ the matrix builder, but if it get's fixed there are build errors available there http://matrix.hackage.haskell.org/package/implicit

[2015-05-03 10:47] hvr commented on #27
yeah... let's close it here (the upstream ticket is still open though)

[2015-05-03 10:47] #27 closed

[2015-05-03 12:24] bergmark commented on #26
I've also restricted versions `>= 0.1.3 && <= 0..4.3` to `base < 4.7`.

[2015-05-04 07:54] hvr commented on #12
LGTM

[2015-05-04 07:57] hvr commented on #19
LGTM

[2015-05-04 09:06] hesselink commented on #19
I've added you as a maintainer, so you can do the upload.

[2015-05-04 09:12] hesselink commented on #12
I've added you as a maintainer, so you can do the upload.

[2015-05-04 10:08] bergmark commented on #19
Done!

[2015-05-04 10:08] #19 closed

[2015-05-04 10:11] bergmark commented on #12
NMU is done!

[2015-05-04 10:17] bergmark commented on #26
@mwm it has been more than 2 weeks now, so please email admin@hackage.org about the takeover.

[2015-05-04 17:03] mwm commented on #26
I got a note from julian that he's planning on updating it soon.

On Mon, May 4, 2015 at 5:17 AM, Adam Bergmark <notifications@github.com>
wrote:

[2015-05-04 18:26] bergmark commented on #26
Ok, good! I'll close this then, let me know if it should be re-opened.

[2015-05-04 18:26] #26 closed

[2015-05-05 17:22] yav commented on #12
Hi, sorry for dropping the ball on this package.   I don't think SOF is actively involved with maintaining it anymore, so I'd be happy for Adam to take over maintenance.  Generally I am taking care of orphaned open-sourced Galois packages (this was one of them), but I didn't realize that there was a second repo for it on SOF's git-hub, and I also don't have too many spare cycles, so Adam's help is

[2015-05-06 06:37] bergmark commented on #12
Thanks Iavor!

[2015-05-06 06:37] #12 closed

[2015-05-12 13:49] abbradar commented on #24
For some reason I've thought that the `Maintainer` field should be updated to indicate that I can now upload new version. Uploaded new versions, thanks for the help!

[2015-05-12 13:49] #24 closed

[2015-05-12 18:08] bergmark commented on #24
The maintainer field is just whatever is in the Cabal file, you can see the users allowed to upload e.g. here: http://hackage.haskell.org/package/unlambda/maintainers/

[2015-05-13 09:31] bergmark opened #35 "deepseq and safe haskell"
Can someone help me understand this this build failure http://matrix.hackage.haskell.org/package/palette#GHC-7.2/palette-0.1.0.2 ?

deepseq fails to install with `ghc-prim:GHC.Generics can't be safely imported! The module itself isn't safe.` but deepseq doesn't fail by itself: http://matrix.hackage.haskell.org/package/deepseq

[2015-05-13 19:00] hvr commented on #35
@bergmark it's because `palette` forces installing a newer `array` version, whereas the vanilla `deepseq` install-plan picks the `array` version already coming w/ GHC 7.2

[2015-05-13 19:44] bergmark commented on #35
Oh this is awkward https://github.com/haskell/deepseq/pull/7 :-(

Thanks!

[2015-05-13 19:44] #35 closed

[2015-05-15 08:31] hesselink commented on #31
I've just added you as maintainer to both packages. I think the relatively short time frame is warranted in this case, since we know Max isn't active in the community anymore.

It seems I can't close this issue, btw. Could someone close it for me?

[2015-05-15 09:01] phadej commented on #31
Thanks!

[2015-05-15 09:01] #31 closed

[2015-05-16 18:26] hvr opened #36 "bloomfilter needs (tighter) bounds on parallel & deepseq (& base)"
![untitled](https://cloud.githubusercontent.com/assets/285533/7667479/d274b8c8-fc09-11e4-8434-30f28de63e4b.png)

[2015-05-16 18:32] hvr commented on #36
Fixed:

![untitled](https://cloud.githubusercontent.com/assets/285533/7667506/860d5d0e-fc0a-11e4-8a47-6580e7227fef.png)

As for GHC 7.10, there's a pending upstream issue filed already: bos/bloomfilter#11

[2015-05-27 20:36] bergmark opened #37 "protocol-buffers"
Email sent 2015-05-27 https://mail.haskell.org/pipermail/haskell-cafe/2015-May/119810.html

[2015-05-27 20:38] bergmark opened #38 "pqueue"
Email sent 2015-05-27: https://mail.haskell.org/pipermail/haskell-cafe/2015-May/119813.html

[2015-05-27 22:42] ghorn commented on #37
I also contacted that guy with patches twice, months apart. He never responded to me

[2015-05-28 05:03] k-bx commented on #37
(I'm the author of that message)

[2015-05-28 05:05] k-bx commented on #37
My hackage id is `k_bx`

[2015-05-28 20:35] lspitzner commented on #38
The current maintainer replied and there is hope for a regular transfer of maintainership in the near future (without need for admin intervention).

[2015-05-29 07:18] hvr commented on #37
Oh well... that package needs quite a bit of attention to fixup: http://matrix.hackage.haskell.org/package/protocol-buffers :-/

[2015-05-29 08:32] bergmark commented on #37
My eyes >_<

[2015-05-30 17:05] #36 closed

[2015-05-31 07:34] hvr opened #39 "`monoid-subclasses` needs tighter `base`-bounds"
The errors seem to be mostly about incompatible `import`s with `base` and missing a language-extension for recent GHCs, both of which just need more tighter bounds on `base` declared:

![untitled](https://cloud.githubusercontent.com/assets/285533/7901110/1f0c858e-0778-11e5-9c84-291dd079c292.png)

/cc @blamario

[2015-06-12 09:11] bergmark commented on #32
@l29ah Have you sent an e-mail to admin@hackage.org?

[2015-06-12 09:13] bergmark commented on #37
@k-bx two weeks have passed so you can send an e-mail to admin@hackage.org referencing this ticket.

[2015-06-12 10:07] bergmark commented on #38
@lspitzner What's the status? I don't see a new release :(

[2015-06-12 11:32] lspitzner commented on #38
@lowasser Ping? It would be cool if you could provide the old repository; the fixing can be done by the new maintainer :-)

@bergmark no further contact from Louis Wasserman, unfortunately. As Louis reported that if at all he would have time at a weekend, it might be worth waiting two more days.

[2015-06-12 13:01] cartazio commented on #38
well, @hvr did dig up an old repo copy, heres a copy of that copy http://www.wellposed.com.s3.amazonaws.com/grab-bag/containers-pqueue.tar.xz

it dates from 2010, i dont know how that matches up with the releases on hackage mind you

[2015-06-12 14:59] l29ah commented on #32
On Fri, Jun 12, 2015 at 02:11:13AM -0700, Adam Bergmark wrote:

no

--
()  ascii ribbon campaign - against html mail
/\  http://arc.pasp.de/   - against proprietary attachments

[2015-06-12 15:07] lowasser commented on #38
I would not assume that I still have a copy of the old repository, and I'm
not sure how worthwhile it would be to try to reconstruct it instead of
starting a new repository containing the latest version of pqueue.

On Fri, Jun 12, 2015 at 8:01 AM Carter Tazio Schonwald <
notifications@github.com> wrote:

[2015-06-12 15:18] cartazio commented on #38
@lowasser i just linked a copy :)

[2015-06-12 15:40] lspitzner commented on #38
@lowasser i have said so in my initial mail on the mailing list, but you have not replied explicitly, so just to be clear: i would be willing to take over routine maintenance. i'd need you to give me the corresponding rights on hackage (username same as here). i promise to keep the author-tags intact :-)

[2015-06-15 09:09] bergmark commented on #38
@lowasser How would you like to proceed? Do you want to stay on as maintainer or split/give maintenance to @lspitzner?

[2015-06-15 15:23] lowasser commented on #38
I would be happy to split or give over maintenance, though I have a weak
preference for splitting.

On Mon, Jun 15, 2015, 02:09 Adam Bergmark <notifications@github.com> wrote:

[2015-06-15 15:35] bergmark commented on #38
@lowasser cool! easiest  is for you to add @lspitzner at http://hackage.haskell.org/package/pqueue/maintainers/edit , @lspitzner you are lspitzner on hackage too i suppose?

[2015-06-15 16:01] lspitzner commented on #38
@lowasser sure, i have no problem with splitting. username is same as here.

[2015-06-15 19:37] lowasser commented on #38
Done.

On Mon, Jun 15, 2015 at 9:01 AM lspitzner <notifications@github.com> wrote:

[2015-06-17 19:32] lspitzner commented on #38
great! I'll put up a repo on github and make a new release in the next days.

[2015-06-20 23:31] bergmark commented on #38
Great, thanks for sorting it out. I'll close this issue.

[2015-06-20 23:31] #38 closed

[2015-06-24 10:17] bergmark opened #40 "regex-tdfa-text doesn't build on GHC 7.10"
Issue reported May 3: http://hub.darcs.net/shelarcy/regex-tdfa-text/issue/1
Reverse dependencies: http://packdeps.haskellers.com/reverse/regex-tdfa-text

For now let's not add an upper bound since @hamishmack has recommended users to install the package by passing -XFlexibleContexts to cabal-install.

To fix, we only need to add a type signature or enable FlexibleContexts.

Ping @hamishmack

[2015-06-24 10:20] bergmark commented on #40
I sent the initial e-mail about doing an NMU to the maintainer.

[2015-06-24 21:13] bergmark opened #41 "urlencoded doesn't allow network(-uri)-2.6"
Package takeover initated here: https://mail.haskell.org/pipermail/haskell-cafe/2015-June/120230.html
I queued a build on matrix: http://matrix.hackage.haskell.org/package/urlencoded

[2015-06-24 21:17] bergmark commented on #41
My mistake, we need to add network-uri as a dependency.

[2015-06-24 21:26] bergmark commented on #41
I have revised 0.4.0 and 0.3.0.1 by adding a `network < 2.6` upper bound for now.

[2015-06-24 21:36] bergmark commented on #41
I also sent an e-mail about an NMU to the maintainer.

[2015-06-25 20:57] bergmark commented on #41
The original maintainer transferred maintainership.

[2015-06-25 20:57] #41 closed

[2015-06-27 20:14] bergmark opened #42 "mueval doesn't build on GHC 7.10"
Several people are asking for this:

* https://github.com/gwern/mueval/issues/8
* https://github.com/gwern/mueval/issues/9
* https://github.com/gwern/mueval/pull/10

I sent an e-mail to @gwern starting the NMU process in case he remains unreachable.

[2015-06-29 23:38] bergmark commented on #39
Döne
![screen shot 2015-06-30 at 01 38 21](https://cloud.githubusercontent.com/assets/100681/8420946/c00babc4-1ec8-11e5-9bd4-c79de6b57541.png)

[2015-06-29 23:39] #39 closed

[2015-07-02 22:33] k-bx commented on #37
@bergmark getting an error from mail delivery system:

[code]

Can you check that admin@ is still working for you please?

[2015-07-02 22:36] gbaz commented on #37
should be admin@hackage.haskell.org

[2015-07-02 22:38] k-bx commented on #37
@gbaz obvious mistake, thank you!

[2015-07-03 06:58] bergmark commented on #37
Oopsie

[2015-07-03 07:45] hesselink commented on #37
I've added @k-bx as a maintainer of protocol-buffers.

[2015-07-03 08:49] bergmark commented on #37
Thanks all! Happy hacking @k-bx

[2015-07-03 08:49] #37 closed

[2015-07-03 12:22] hesselink commented on #37
@k-bx asked me to also add him to `protocol-buffers-descriptor` and `hprotoc`, since they are part of the same source repository. That seemed reasonable (and the maintainer is also the same) so I added him there as well.

[2015-07-04 07:04] bergmark commented on #42
Gwern fixed everything!

[2015-07-04 07:04] #42 closed

[2015-07-10 15:37] bergmark commented on #40
I sent the second email to the maintainer.

[2015-07-16 13:02] hesselink commented on #32
I've added SergeyAlirzaev to the maintainers of monad-peel.

[2015-07-16 20:49] l29ah commented on #32
Thanks.

[2015-07-16 20:49] #32 closed

[2015-07-17 12:15] bergmark commented on #40
Can a trustee review this please?
https://github.com/hackage-trustees/regex-tdfa-text/commit/bf524850e3d89bf75362783185f5342ace1e7d6e

[2015-07-23 09:04] hesselink opened #43 "'temporary' package takeover"
Request by Mateusz Kowalczyk [here](https://mail.haskell.org/pipermail/libraries/2015-July/025990.html). Roman Cheplyaka also asked about takeover [in May 2014](https://mail.haskell.org/pipermail/libraries/2014-May/022958.html). Max Bolingbroke hasn't been active [for a long time](https://mail.haskell.org/pipermail/libraries/2015-April/025570.html) so I think transferring the package on Monday the

[2015-07-23 10:15] bergmark commented on #43
@Fuuzetsu note that @feuerbach has a fork, temporary-rc, perhaps it contains things that can be merged into temporary?

[2015-07-23 10:36] Fuuzetsu commented on #43
It does not, they are at this point pretty much the same except one has a maintainer present and one doesn't seem to. The point of the takeover is to give `temporary` a maintainer so we can stop using `temporary-rc` and cause package import problems for any project using `tasty` &c.

See https://github.com/feuerbach/temporary/issues/1

[2015-07-23 10:46] bergmark commented on #43
Cool!

[2015-07-24 13:21] bergmark opened #44 "glpk-hs takeover"
Requested by @jyp 2015-07-24: https://mail.haskell.org/pipermail/libraries/2015-July/026023.html

[2015-07-24 13:23] bergmark commented on #44
Also pinging @lowasser

[2015-07-24 16:43] lowasser commented on #44
I'm pretty sure I approved that request

[2015-07-24 16:45] lowasser commented on #44
Oh, wait, that was the pqueue package.  I approve this takeover too.

[2015-07-24 19:45] jyp commented on #44
Ok, my username is JeanPhilippeBernardy

[2015-07-25 14:48] bergmark commented on #44
Thanks for letting us know @lowasser , can you please add @jyp at http://hackage.haskell.org/package/glpk-hs/maintainers/edit?

[2015-07-25 18:19] lowasser commented on #44
Done.

On Sat, Jul 25, 2015 at 7:48 AM Adam Bergmark <notifications@github.com>
wrote:

[2015-07-27 09:17] Fuuzetsu commented on #43
It's now Monday and got only positive feedback on `libraries@`, hopefully we can conclude the takeover today.

[2015-07-27 09:22] hesselink commented on #43
Yes, thanks for the reminder. I've added you to the maintainers of `temporary`.

[2015-07-27 09:22] #43 closed

[2015-07-27 12:39] bergmark commented on #44
Thanks!
Happy hacking @jyp

[2015-07-27 12:39] #44 closed

[2015-07-31 13:05] bergmark opened #45 "erlang takeover"
Requested by Poór Artúr on 2015-07-30 here: https://mail.haskell.org/pipermail/haskell-cafe/2015-July/120592.html

Pinging @esessoms

[2015-07-31 13:32] hvr commented on #45
lol... at first I thought this was about taking over https://github.com/erlang =)

[2015-08-06 06:05] hvr opened #46 "xmonad-contrib needs constraints tightened"
http://matrix.hackage.haskell.org/package/xmonad-contrib

![xmonad-contrib](https://cloud.githubusercontent.com/assets/285533/9104885/dcd3f84a-3c11-11e5-9ecd-caf91be36d01.png)

[2015-08-06 06:50] hvr commented on #46
The AMP-related breakage in 0.11.4 for everything below GHC < 7.10 has been already reported on May 24th! I'm surprised this has been broken so long already without a quickfix... :-/

Anyway, it's fixed up now:

![xmonad-contrib](https://cloud.githubusercontent.com/assets/285533/9105447/31eb5fd4-3c18-11e5-82d8-022d5907a715.png)

[2015-08-07 13:20] kolmodin opened #47 "pandoc-citeproc probably works with vector-0.11"
I tried to install `pandoc` and `hakyll` with this command line: `cabal install pandoc hakyll`.
Cabal resolved the deps, and but the result was not great.
`hakyll` depends on `pandoc-citeproc`. `pandoc-citeproc` requires `vector-0.10.*`.
Cabal ended up choosing `vector-0.11`, and thus could not install `pandoc-citeproc`, and therefore a really old version of `hakyll` that doesn't depend on `pandoc

[2015-08-11 14:21] bergmark commented on #47
Sorry for the delay, I now see John released pandoc-citeproc-0.7.3 allowing vector-0.11.

[2015-08-11 14:21] #47 closed

[2015-08-18 15:21] bergmark commented on #40
Bump!

[2015-08-19 12:29] svenpanne opened #48 "hackage-diff needs less strict "base" version bounds"
hackage-diff needs less strict version bounds to be compatible with GHC-7.10.2's `base`. As it is, the bounds are `base >=4.7 && < 4.8`, and cabal finds no build plan with 7.10.2. So my proposal is to change this to `base >=4.6 && < 4.9`, as the lower bound can be relaxed, too, see: https://github.com/blitzcode/hackage-diff/issues/3. The project is dormant for a year now, and the author hasn't res

[2015-08-21 22:46] bergmark commented on #48
I'll take a closer look

[2015-08-21 23:10] bergmark commented on #48
Revised: http://hackage.haskell.org/package/hackage-diff-0.1.0.0/revisions/

Waiting for the matrix builder then I'll close this.

[2015-08-22 18:57] bergmark commented on #48
![screen shot 2015-08-22 at 20 56 42](https://cloud.githubusercontent.com/assets/100681/9425424/54988d9a-4910-11e5-98ed-f9f481fe0576.png)

[2015-08-22 18:57] #48 closed

[2015-08-23 11:21] hvr commented on #40
@bergmark LGTM

[2015-08-23 15:07] bergmark commented on #40
Thanks hvr. I sent an e-mail to the admins.

[2015-08-24 08:56] hesselink commented on #40
I've added you to the maintainers for regex-tdfa-text.

[2015-08-24 13:14] bergmark commented on #40
Uploaded http://hackage.haskell.org/package/regex-tdfa-text-1.0.0.3

[2015-08-24 13:14] #40 closed

[2015-09-24 04:20] phadej opened #49 "tar test suite works well with tasty-0.11"
Motivation: https://github.com/fpco/stackage/issues/817

[2015-09-24 04:41] gbaz commented on #49
Can you expand on what the issue is. Do you want something changed or bumped or...?

[2015-09-24 04:44] phadej commented on #49
Can the `tasty` bound be changed from
[code]
to
[code]

[2015-09-24 08:02] hvr commented on #49
Please migrate this to https://github.com/haskell/tar/issues

[2015-09-24 10:21] phadej commented on #49
Migrated: https://github.com/haskell/tar/pull/4

[2015-09-24 10:21] #49 closed

[2015-10-01 21:08] MaiaVictor opened #50 "The dependency bounds for vector-th-unbox needs an adjustment."
As detailed by `dfeuer` on [this SO question](http://stackoverflow.com/questions/32896516/ghc-7-10-2-warning-when-deriving-unbox-instance-using-data-vector-unboxed-derivi/32896649?noredirect=1#comment53622943_32896649),

`vector-th-unbox` needs an adjustment on its dependency bounds. There is a [pull request](https://github.com/liyang/vector-th-unbox/pull/10) to fix this issue, but the maintainer

[2015-10-01 21:15] treeowl commented on #50
Specifically, it looks like current versions of `vector-th-unbox` need `vector < 0.11`. There's a long-open pull request to fix this, but the maintainer hasn't responded in some time. It might help for a trustee to attempt contact.

[2015-10-02 01:13] treeowl commented on #50
I've just sent an email to the maintainer.

[2015-10-02 07:51] hvr commented on #50
I take it that *all* released versions require a `vector < 0.11` upper bound?

[2015-10-02 07:56] treeowl commented on #50
I imagine so. It provides TH to make instances, and there's a new mandatory
method. I haven't dug through to be sure all versions instantiate the
relevant class (and I don't have the infrastructure to test), but I imagine
so.
On Oct 2, 2015 3:52 AM, "Herbert Valerio Riedel" <notifications@github.com>
wrote:

[2015-10-02 12:47] bergmark commented on #50
Does anyone have a package or example where this causes compilation failure?

[2015-10-02 14:51] hvr commented on #50
Looking at the code, failing to define the `MVector(basicInitialize)` method breaks many usages (mostly the "safe" operations) of said `MVector` instances. However, the `Vector` instances seem not affected by this bug.

So restricting the bounds *without* also uploading a patch-level release for the affected major versions is risky (as there may be packages affected that don't use the broken `MVec

[2015-10-02 15:37] bergmark commented on #50
I sent an e-mail to the maintainer so we can do an NMU in two weeks if necessary.

[2015-10-04 14:12] hvr commented on #9
*bump*

[2015-10-04 14:12] hvr commented on #21
*bump*

[2015-10-04 14:15] hvr commented on #45
@bergmark I think at this point we can move forward?

[2015-10-04 15:16] hvr commented on #46
Doesn't seem an issue in latest upstream https://github.com/xmonad/xmonad-contrib anymore

[2015-10-04 15:16] #46 closed

[2015-10-05 20:11] gombocarti commented on #45
I am writing an email to the Hackage administrators to grant maintenance rights.

[2015-10-06 10:32] hesselink commented on #45
I've added @gombocarti to the maintainers or erlang.

[2015-10-06 12:30] #45 closed

[2015-10-07 13:10] bergmark commented on #21
![screen shot 2015-10-07 at 15 10 23](https://cloud.githubusercontent.com/assets/100681/10338290/959e49e2-6d05-11e5-86cd-51df669a315a.png)

[2015-10-07 13:11] #21 closed

[2015-10-12 18:40] bergmark commented on #50
Sent a second e-mail, I'll prepare the NMU soon.

[2015-10-12 19:06] bergmark commented on #9
Turns out doing an NMU is no longer needed (was it ever?). Just added a revision ( http://hackage.haskell.org/package/download-curl-0.1.4/revisions/ ) and will close this once the matrix builder verifies.

[2015-10-12 19:09] bergmark commented on #9
![Uploading Screen Shot 2015-10-12 at 21.08.08.png…]()

[2015-10-12 19:09] #9 closed

[2015-10-12 19:09] bergmark commented on #9
Whoops I was too quick

<img width="691" alt="screen shot 2015-10-12 at 21 08 08" src="https://cloud.githubusercontent.com/assets/100681/10436246/86eda590-7125-11e5-8e93-9f6facb5da06.png">

[2015-10-13 00:42] liyang commented on #50
Apologies. I was hiding from the internets for a bit.

Dealing with it now.

[2015-10-13 00:58] liyang commented on #50
@hvr Right… I'm not sure how I'm supposed to use that feature. I was playing around with it and decided it might be a good idea to deprecate all the non-latest bugfix versions of each minor version.

[2015-10-13 06:15] liyang commented on #50
I've updated all the preferred versions with the above constraint.

[2015-10-14 13:36] bergmark commented on #50
Thanks for fixing this!

Having upper bounds is what the PVP mandates. I do this for all my dependencies and if something slips through the cracks you can also edit version ranges for existing releases. Preferred versions is only a poke from Cabal, e.g. if all preferred versions would break other local packages it will probably use an undeprecated version.

[2015-10-14 13:36] #50 closed

[2015-10-23 18:19] davean opened #51 "netlink takeover"
Requested in #haskell by Markus Ongyerth on 2015-10-23.

I have confirmed with Max Treskin (the current maintainer) via email that he would like to transfer ownership.

[2015-10-23 18:19] davean commented on #51
Markus Ongyerth's hackage user is https://hackage.haskell.org/user/ongyerth

[2015-10-23 18:58] bergmark commented on #51
If the maintainer is reachable it may be quicker for him to add ongyerth at http://hackage.haskell.org/package/netlink/maintainers/edit instead of waiting for an admin.

I added netlink to [the matrix builder](http://matrix.hackage.haskell.org/package/netlink#GHC-7.0/netlink-0.1) and added [a new revision](https://hackage.haskell.org/package/netlink-0.1/revisions/) to exclude GHC 7.0 since the pac

[2015-10-23 19:50] davean commented on #51
The maintainer no longer has his hackage password and seemed uninterested in resetting it and doing this himself, but explicitly signed off on a transfer.

[2015-11-24 16:17] cartazio opened #56 "allow hyperloglog 0.3.4 to build with vector 0.11.*"
we've tested it out at work and it builds fine, and I recall @kmett giving me the ok to do that metadata change when i spoke with him about it a few months ago.

documenting the change action here

[2015-11-24 20:37] phadej commented on #56
Matrix agrees, this is ok: http://matrix.hackage.haskell.org/package/hyperloglog.

[2015-11-24 20:37] phadej commented on #56
Btw, Edward is `ekmett` (no necessary pinging) on GitHub.

[2015-12-17 08:17] hvr opened #57 "`amazonka-core` needs upper bounds on `http-types`"
See http://matrix.hackage.haskell.org/package/amazonka-core

Releases prior to 1.3.3.1 started getting a nameclash a couple of weeks ago. Most likely an upper bound on `http-types` is missing

[code]

/cc @brendanhay

[2015-12-17 08:41] brendanhay commented on #57
Looks like constraining to `http-types < 0.9` is needed.

[2015-12-17 09:04] brendanhay commented on #57
I've gone through and added the upper bound to all `< 1.3.3.1` `amazonka-core` package metadata. I'll keep an eye on the build matrix. If someone with auth like poking it so it gets queued so I can verify the changes, that'd be appreciated.

[2015-12-17 09:06] hvr commented on #57
@brendanhay will do... I hope you knew about https://github.com/hvr/hackage-cli which makes mass-editing the meta-data a bit more convenient... :-)

[2015-12-17 09:12] brendanhay commented on #57
No, I wasn't aware of that - I merely cursed under my breath at the 50 open tabs. :fire:

[2015-12-17 09:46] hvr commented on #57
@brendanhay if you look at http://matrix.hackage.haskell.org/package/amazonka-core now, only `0.3.{4,5,6}` have namespace issues left, everything else went back to green! :+1:

[2015-12-18 07:10] brendanhay commented on #57
I'm getting `404` errors on all the `http://matrix.hackage.haskell.org/package/*` pages and can't actually see the build error!

[2015-12-18 12:45] brendanhay commented on #57
The ghost in the machine(s) have mysteriously decided to cooperate and a `lens < 4.13` upper bound has been added to the `0.3.{4,5,7}` versions' package metadata.

[2015-12-18 12:50] hvr commented on #57
the build is just overloaded it seems... I need to find a way to dynamically throttle the parallelism if ram gets tight

[2016-01-27 07:19] hvr opened #58 "hastache needs version bounds fixup"
already filed upstream at https://github.com/lymar/hastache/pull/53 over two weeks ago

@bos pinged me about it as it's blocking criterion, I'm on it

[2016-01-27 07:27] hvr commented on #58
I've relaxed the upper bound on `base`, see https://hackage.haskell.org/package/hastache-0.6.1/revisions/

[2016-02-11 14:54] thomie opened #59 "effect-monad needs an upper bound on type-level-sets"
`cabal install effect-monad` fails with
[code]

The fix is to add an upperbound on `type-level-sets`:
[code]

I opened a [pull request](https://github.com/dorchard/effect-monad/pull/5) one month ago, but it has been getting ignored.

It is not critical to fix, `effect-monad` doesn't have any [reverse dependencies](http://packdeps.haskellers.com/reverse/effect-monad) on hackage besides `acme-everyt

[2016-02-11 16:08] bergmark commented on #59
Too slow @phadej ;-) I've added bounds

[2016-02-11 17:58] hvr opened #60 "NMU for vector-th-unbox"
@liyang seems unreachable since Jan 11th

 - Last Hackage activity was upload of `true-name-0.1.0.0` on Jan 11th
 - Last public GitHub activity dates back to Jan 11th: https://github.com/liyang?tab=activity
 - https://github.com/liyang/vector-th-unbox/issues/11 filed on Jan 17th by @hvr
 - https://github.com/liyang/vector-th-unbox/pull/12 filed on Feb 1st by @RyanGlScott
 - Tried to reach @liyang

[2016-02-14 19:52] thomie commented on #59
Thanks.

[2016-02-14 19:52] #59 closed

[2016-02-16 14:17] hvr commented on #60
NMU release prepared at https://github.com/hackage-trustees/vector-th-unbox/releases/tag/0.2.1.4

[2016-02-16 16:02] hvr commented on #60
NMU'ed via http://hackage.haskell.org/package/vector-th-unbox-0.2.1.4

[2016-02-16 16:06] bergmark commented on #60
Cool!

[2016-02-16 16:06] #60 closed

[2016-02-22 17:30] bergmark opened #62 "Relaxing zip-conduit dependencies"
It builds fine with the latest deps.

Revision: https://hackage.haskell.org/package/zip-conduit-0.2.2.2/revisions/
I queued a matrix build: http://matrix.hackage.haskell.org/package/zip-conduit
Pull request first sent by @duplode  Jul 26, 2015: https://github.com/tymmym/zip-conduit/pull/9, and then by me 2 weeks ago https://github.com/tymmym/zip-conduit/pull/10

Will wait for the build before clos

[2016-02-26 15:31] #62 closed

[2016-03-24 12:49] mightybyte opened #63 "Address the bug in recent versions of clock"
It seems that this issue in the clock package is being felt by more and more people and @hvr suggested that I report it here.

https://github.com/corsis/clock/issues/36

The issue has been open for 3 months with no response from the maintainer.  I've also sent personal emails and still no response, so we might want to think about addressing it at this level.

The bug is quite critical.  Anything t

[2016-03-25 16:36] bergmark commented on #63
I think the best option here is to do a non-maintainer upload to resolve the issue without having to find a new maintainer. We can also deprecate the offending versions but deprecation is a weak constraint so those versions are still somewhat likely to be picked unless there is a later version.

Would re-introducing the old `fromInteger` be a valid patch? I don't see any explanation why it was rem

[2016-03-25 18:04] mightybyte commented on #63
That seems like a reasonable solution as far as I'm concerned.

[2016-03-31 12:17] bergmark commented on #63
- [x] (Anyone) Send a pull request or open an issue to the offending packages source repository. If no source repository is available, send an e-mail.
- [x] (Anyone) After a while if there is no response, open a ticket in the trustees issue tracker, linking to the pull request / issue, or describing/embedding the e-mail. Alternatively if problems are anticipated from the outset then file the issue

[2016-04-05 08:05] cetinsert commented on #63
I am now going to re-introduce fromInteger in the next few minutes. We could then discuss whether the Num instace for TimeSpec makes sense as it does not behave as one would expect in certain cases.

[2016-04-05 08:28] cetinsert commented on #63
`fromInteger` has been reintroduced in 0.7.1.1, package uploaded to hackage.

Now how could we address the clock issues [#32](https://github.com/corsis/clock/issues/32) and [#33](https://github.com/corsis/clock/issues/33)?

[2016-04-05 14:28] bergmark commented on #63
@cetinsert thank you! I think what @lfairy suggests in https://github.com/corsis/clock/issues/32#issuecomment-205721443 is a good way to proceed. I'll close this in favor of tickets on your issue tracker.

[2016-04-05 14:28] #63 closed

[2016-04-17 22:47] cartazio commented on #56
did this a while ago, closing

[2016-04-17 22:47] #56 closed

[2016-04-17 22:52] cartazio opened #64 "relax bound on nonce package to allow ghc 8.0 build"
see https://github.com/prowdsponsor/nonce/issues/3

[2016-04-17 22:57] cartazio commented on #64
@hvr @bergmark  i forget, how can i run build matrix on a candidate edit for a package without actually doing the edit? or is that still not built in? i cant find the notes on that bit :(

[2016-04-18 08:52] bergmark commented on #64
You can't, unfortunately.

[2016-04-18 23:38] erikd commented on #64
I'm currently working on updating the Yesod stack for ghc-8.0. This is a blocking issue.

[2016-04-19 00:47] cartazio commented on #64
seems to build fine for my local ghc 8.0, i shall now relax the bound to allow < 4.10 as the base upper bound

[2016-04-19 00:51] cartazio commented on #64
i bumped the bound, please confirm :)

[2016-04-19 00:55] erikd commented on #64
WIth ghc 8.0 as the version on my PATH:

[code]

I wonder how often the hackage index is updated.

[2016-04-19 01:01] erikd commented on #64
I can confirm that this is now fixed! Thanks!

[2016-04-19 01:04] #64 closed

[2016-04-19 01:04] cartazio commented on #64
yay

[2016-04-20 01:56] erikd opened #65 "esqueleto: Please relax upper bound on base package"
GHC 8.0 ships with base 4.9, but `esqueleto` currently requires `base < 4.9`. I have submitted a PR but so far that has gone un-answered : https://github.com/prowdsponsor/esqueleto/pull/135

Esqueleto doesn't have a lot of other packages depending on it, but it really should compile with ghc-8.0 and all that is required is this tiny tweak.

[2016-04-20 02:09] erikd commented on #65
I have compiled this with GHC 8.0 rc3 and run all the tests.

Esqueleto doesn't use `template-haskell` directly so there are no TH issues.

[2016-04-20 02:39] cartazio commented on #65
tested it on my post iavor ghc8.0 tip build, also works here, i'll bump the bound < 4.10, @erikd  that what you want right? :)

[2016-04-20 02:40] erikd commented on #65
Perfect!

[2016-04-20 02:45] cartazio commented on #65
bumped, also added it to matrix builder queue just to sanity check, closing for now :)

[2016-04-20 02:45] #65 closed

[2016-04-20 02:46] erikd commented on #65
Thanks @cartazio !

[2016-05-15 21:10] cartazio opened #66 "possible NMU needed on missingH"
see https://github.com/jgoerzen/missingh/issues/32
cc @davean

[2016-05-15 23:34] cartazio commented on #66
On the linked thread The current maintainer has authorized a NMU and further noted he'd like it to be adopted by someone as he currently doesn't have time.

Cc @davean @hvr @sclv

[2016-06-06 07:03] hvr commented on #66
what's the status on this? 3 weeks have passed...

[2016-06-06 13:29] cartazio commented on #66
I believe Davean got uploader acls by the current maintainer to do an NMU update with the proposed patch and then the maintainer updated the repo to reflect the changes

[2016-06-06 13:30] cartazio commented on #66
But might be good to double check.  I'm afk / away from compiler

[2016-06-06 14:34] bergmark commented on #66
John uploaded a new version a few days ago

[2016-06-06 16:38] bergmark commented on #66
I also added revisions to the latest versions jgoerzen/missingh#34

[2016-06-06 16:50] hvr opened #67 "Install-plans bitrotting due to GNU vs C99 `inline`-semantics"
This is a ticket to keep track of packages which suffer directly or indirectly from this effect. In case of indirectly affected packages we can restore install-plans by publishing maintenance releases.
- https://github.com/haskell/network/issues/199 (fixed via `network-2.3.2.1` release)
- https://github.com/tibbe/unordered-containers/pull/129 (fixed via `unordered-containers-0.2.7.1` release)
- ..

[2016-06-06 17:17] cartazio commented on #67
So others needn't Google ,

http://stackoverflow.com/questions/216510/extern-inline/216546#216546

Has a good breakdown of what the changes in semantics are between the two

On Monday, June 6, 2016, Herbert Valerio Riedel <notifications@github.com>
wrote:

[2016-06-07 10:23] winterland1989 opened #68 "thrift need add proper upper bond"
I submit an issue to apach issue tracker without respond, here is the problem: in new version of `QuickCheck` and `unordered-containers` package defind instance conflict with thrift's own, make it completely unable to build. so i'd like someone can add version bound on QuickCheck <2.8.2 and unordered-containers <0.2.6 to thrift 0.9.3 on hackage to make it buildable.

[2016-06-07 10:30] phadej commented on #68
let's see...

[2016-06-07 10:39] phadej commented on #68
Adjusted the bounds... waiting for matrix build http://matrix.hackage.haskell.org/package/thrift

[2016-06-07 11:35] phadej commented on #68
`0.9.3` compiles, `0.9.2` non-installable, `0.6.0` I'm not sure, if can work with GHC>=7.6

[2016-06-07 12:19] winterland1989 commented on #68
Thanks!

[2016-06-07 12:31] #68 closed

[2016-07-05 11:28] phadej opened #69 "http-client-0.5 breaks upper-bound lacking packages"
The stackage issue: https://github.com/fpco/stackage/issues/1676 Around 20 packages from Stackage was hold back due bounds.

Let's document packages which are or were broken due missing upper bounds.

I suspect that turn red too (waiting for matrix.h.h.o)
- `gogol-core`
- `wreq`

Also `http-conduit` breaks packages in the same way. let's check based http://packdeps.haskellers.com/reverse/http-cond

[2016-07-05 11:29] phadej commented on #69
### servant-client
<img width="680" alt="screen shot 2016-07-05 at 12 24 56" src="https://cloud.githubusercontent.com/assets/51087/16583224/d373b760-42bc-11e6-98c5-d0b90576a6e2.png">

[2016-07-05 11:29] phadej commented on #69
### amazonka-core

<img width="691" alt="screen shot 2016-07-05 at 12 33 51" src="https://cloud.githubusercontent.com/assets/51087/16583234/e79ebeec-42bc-11e6-87e3-cd4fbcda044c.png">

[2016-07-05 11:31] phadej commented on #69
Reported on Stackage issue, `DAV-1.2`:

[code]

[2016-07-05 11:37] hvr commented on #69
judging from http://packdeps.haskellers.com/reverse/http-client, there's of packages depending on http-client *directly* whose authors forgot to put upper bounds in place, and sadly this compounds via indirect dependencies :-/

[2016-07-05 11:42] phadej commented on #69
I'll add `http-client` tag on `matrix.h.h.o` for packages I queued to check this issue

[2016-07-05 16:09] phadej commented on #69
### wreq

before http-client-0.5 released:

![fireshot capture - wreq - package - hackage matrix builder_ - http___matrix hackage haskell org_pa-before](https://cloud.githubusercontent.com/assets/51087/16591302/f79e542a-42e3-11e6-9588-5dd394159a15.png)

after:

![fireshot capture - wreq - package - hackage matrix_ - http___matrix hackage haskell org_package_wreq-with](https://cloud.githubuserconte

[2016-07-05 16:14] phadej commented on #69
Seems that `http-client-0.5` itself fails to build with some configurations https://github.com/snoyberg/http-client/issues/210

[2016-07-05 22:45] phadej commented on #69
[kraken](http://matrix.hackage.haskell.org/package/kraken) had two failures as well.

Not sure, seems (luckily!) that upper bounds used by many authors act as vaccination in masses: it helps prevent invalid plans even some packages aren't specifying them.

[2016-07-06 06:33] hvr commented on #69
@phadej it's still fragile, because as soon as a 3rd party package relaxes its upper bound because it added support, suddenly install-plans will start to fail...

[2016-07-10 23:49] sjakobi opened #70 "Tighter base upper bounds on records and type-functions"
`records-0.1.1.6` compiles with `ghc-7.8.4` but neither with `ghc-7.10.2` nor `ghc-7.10.3`. I'd suggest lowering the upper bounds on `base` to `< 4.8`.

`type-functions-0.2.0.3` compiles with  `ghc-7.10.3` but not with `ghc-8.0.1`.  An upper bound on `base` of `< 4.9` would be nice to have.

[2016-07-11 06:30] phadej opened #71 "QuickCheck-2.9"
Removed `exhaustive` and added one parameter to `Fun` constructor.

Already noticed: http://hackage.haskell.org/package/quickcheck-io not building:

[code]

I'm afraid that a lot of test-suites are unbuildable, becaus people tend to omit test dependency bounds even more often.

[2016-07-11 12:41] hvr commented on #70
@sjakobi thanks for reporting this!

 - https://hackage.haskell.org/package/type-functions-0.2.0.3/revisions/
 - https://hackage.haskell.org/package/records-0.1.1.6/revisions/

/cc @phadej

[2016-07-11 12:43] hvr commented on #51
@bergmark @davean

I see that ongyerth has been added to http://hackage.haskell.org/package/netlink/maintainers/

is there anything else left to do?

[2016-07-11 13:09] bergmark commented on #51
I don't think so!

[2016-07-11 13:09] #51 closed

[2016-07-11 16:01] phadej commented on #70
I also sent Wolfgang an email about mine `type-functions` edit. He answered:

[2016-07-11 16:59] sjakobi commented on #70
I realize now that I should have contacted Wolfgang myself.

Thank you for providing this great service!

[2016-07-12 15:40] hvr commented on #70
@sjakobi you can still contact him about `records`... I didn't contact him yet :-)

[2016-07-13 09:52] sjakobi commented on #70
I wrote him an email!

[2016-07-16 17:50] hvr commented on #69
Some additional indirect fallout @ https://github.com/fpco/stackage-curator/issues/22

[2016-07-19 06:21] hvr opened #72 "dlist-instances conflicts with new dlist-0.8's native semigroup instance"
I've [revised](http://hackage.haskell.org/package/dlist-instances-0.1/revisions/) dlist-instances, and now we need a new dlist-instances release supporting dlist-0.8+ (https://github.com/gregwebs/dlist-instances/pull/2)

See also https://github.com/spl/dlist/issues/25#issuecomment-232141623

[2016-08-11 07:18] hvr opened #73 "haskell-src-exts-1.18 breaks upper-bound lacking packages"
HSE 1.18 changed in a non-backward compat way. Even though HSE properly advised this via a major version bump, packages which didn't follow the PVP broke.

It's also noted in https://github.com/fpco/stackage/issues/1734#issuecomment-235968726 that "Essentially all 137 packages are broken by this release, the question is how many also impact stackage."

This ticket is to track which packages need u

[2016-08-11 07:23] phadej commented on #73
I guess we list here packages went red, and fixed by either trustees or package authors themselves?

- [hindent](http://matrix.hackage.haskell.org/package/hindent)
- [hprotoc](http://matrix.hackage.haskell.org/package/hprotoc)

[2016-08-11 19:01] phadej commented on #73
- [x] [haskintex](http://matrix.hackage.haskell.org/package/haskintex) 0.5.1-0.6
- [x] [hse-cpp](http://matrix.hackage.haskell.org/package/hse-cpp)

[2016-08-16 07:20] ezyang opened #74 "optparse-applicative-0.13 breaks upper-bound lacking packages"
Upstream: https://github.com/feuerbach/tasty/issues/145

Cabal CI is repro'ing, see https://travis-ci.org/haskell/cabal/jobs/152543984

---

EDIT: Packages known to be affected:
- [x] `tasty` (`0.10.0.1` &mdash; `0.11.0.3`, 11 versions)
- [x] `criterion` `(1.0.2.0`, `1.1.0.0` and `1.1.1.0`)
- [x] `wai-app-static` (`2.0.1` &mdash; `3.1.6`, 20 versions)
- [x] `purescript`
- [x] `tasty-golden` (`2.2.

[2016-08-16 08:51] phadej commented on #74
resolved.

[2016-08-16 13:38] RyanGlScott commented on #74
`criterion-1.1.1.0` (probably other versions too) also fails to build with `optparse-applicative-0.13.0.0`. See https://github.com/bos/criterion/issues/113

Should a separate issue be opened for this, or should we lump all `optparse-applicative-0.13.0.0`-related build failures into this issue?

[2016-08-16 13:55] phadej commented on #74
Triggered matrix build for criterion. Let's see

[2016-08-16 15:57] phadej commented on #74
only criterion 1.0.2.0,  1.1.0.0 and  1.1.1.0 were affected.

Let's have this issue open at least until optparse-applicative-0.13.0.0 gets into stackage nightly

[2016-08-17 06:31] hvr commented on #69
Stumbled over a few other ones:

 - `http-reverse-proxy`
 - `keter`

[2016-08-18 06:49] phadej commented on #74
`wai-app-static` is a way greener now.

[2016-08-21 10:47] hvr commented on #73
- [ ] [hat](http://matrix.hackage.haskell.org/package/hat)

[2016-08-22 14:38] phadej commented on #69
- [ ] `http-client-tls`

[2016-08-23 10:54] hvr opened #75 "data-lens-2.11.* needs tighter bounds on base"
E.g.

[code]

and

[code]

/cc @roconnor

[2016-08-23 11:10] hvr commented on #75
I've fixed up the meta-data:

 - https://hackage.haskell.org/package/data-lens-2.11.0.1/revisions/
 - https://hackage.haskell.org/package/data-lens-2.11/revisions/

TODO: file an upstream PR (against the  "2.9.0" branch!) restoring compat with pre-base-4.8

[2016-08-23 17:10] roconnor commented on #75
Data.Functor.Sum is included with the transformers 4.0 lower bound.

I think I know how to fix the     Not in scope: type constructor or class ‘Monoid’
However I haven't been able to reproduce the issue.  What configuration did you use to get this error.

Also, how did you determine the 4.8 as the minimum bound for base?

ty.

[2016-08-23 17:21] bergmark commented on #75
@roconnor Probably by looking at http://matrix.hackage.haskell.org/package/data-lens, although now it shows the build status after the new revisions

[2016-08-23 18:28] roconnor commented on #75
Okay, I was finally able to coax the error:

nix-build --keep-going --arg hp 'let pkg = (import <nixpkgs> {}); in pkg.haskell.packages.ghc784.override { overrides = self : super : { bifunctors = self.bifunctors_5_2; semigroupoids = self.semigroupoids_5_0_1; transformers = self.transformers_0_4_3_0 ; transformers-compat = self.transformers-compat_0_4_0_4; doctest = null; comonad = pkg.lib.overrideD

[2016-08-23 18:53] hvr commented on #75
@roconnor as @bergmark already said, I noticed it on matrix.h.h.o, and locally I simply use something like `cabal new-build -w ghc-7.8.4` with a few educatedly guessed  `--constraint ...`s  to figure out where the problem is...

btw, is there a specific reason why the `data-lens` repo has its Issue component disabled?

[2016-08-23 18:55] phadej commented on #75
One option is to setup Travis CI using https://github.com/hvr/multi-ghc-travis scripts. It is useful, simple and free

[2016-08-23 20:26] roconnor commented on #75
No reason that the issue component was disabled beyond that is the default that github made at the time I forked the repo.  I have enabled it now.

[2016-08-23 20:38] roconnor commented on #75
No reason that the issue component was disabled beyond that is the default that github made at the time I forked the repo.  I have enabled it now.

[2016-08-23 20:39] roconnor commented on #75
2.11.1 is now released.

[2016-08-24 13:15] RyanGlScott commented on #74
`tasty-golden-2.3.1` is known not to build against `optparse-applicative-0.13` (see https://github.com/feuerbach/tasty/issues/145#issuecomment-242058799).

[2016-08-24 22:01] hvr commented on #75
all looks good now, so I'm closing this one...

[2016-08-24 22:01] #75 closed

[2016-08-25 06:47] hvr commented on #74
@RyanGlScott indeed, 12 releases broken:

![untitled](https://cloud.githubusercontent.com/assets/285533/17959416/90d826be-6aa0-11e6-9a22-9212756b733c.png)

[2016-08-25 10:56] HuwCampbell commented on #74
I feel like I broke the world :/

[2016-08-25 17:20] hvr commented on #74
@HuwCampbell  Don't feel bad! `optparse-applicative` did the proper thing; it's rather that some packages failed to adhere to proper dependency management standards. This happens occasionally, and that's what Hackage Trustees are here to help with. There would have been breakage sooner or later anyway at some point, and by taking a hit now the technical debt has been cleared while the cost was sti

[2016-08-27 05:28] glguy opened #76 "hoogle needs network constraint"
Related ticket https://github.com/ndmitchell/hoogle/issues/181

Hoogle has a hard dependency on network-uri without a lower bound on network which is causing build failures for people with network < 2.6 already installed.

This has come up a couple times now on IRC with people looking for help.

[2016-08-27 08:51] hvr commented on #76
For the record, I've hacked up

  http://hackage.haskell.org/package/network-uri-flag-0.1

And I'll look into making it possible in hackage-server to retrofit `network-uri-flag` dependencies in older releases (like we can with `base` or `base-orphan` right now), at least temporarily...

[2016-08-30 19:47] bergmark commented on #57
Issue cleanup time! Is there anything left to do here @hvr? If not let's close this.

[2016-08-30 19:47] bergmark commented on #58
Issue cleanup time! Is there anything left to do here @hvr? If not let's close this.

[2016-08-30 19:49] bergmark commented on #66
This is all done AFAICT.

[2016-08-30 19:49] #66 closed

[2016-08-30 19:51] bergmark commented on #70
Issue cleanup time! Is there anything left to do here? Otherwise let's close this.

[2016-08-30 19:53] bergmark commented on #69
For open ended issues like this, we can add comments for new entries but how about collecting everything in a checklist in the top comment (since we all can make edits to it)? That way we know what we need to do, and we can close when everything is done and re-open if new entries pop up.

[2016-08-30 19:58] bergmark commented on #71
This is hard to keep track of since matrix doesn't build test suites. Does it make sense to keep the issue open?

Broken test-suites and benchmarks only affect the package in question so I'd argue there's little point in keeping track of it, but we are of course welcome to fix any issues we run across.

We also have the cookbook in this repo if we want to document common failures.

[2016-08-30 19:59] bergmark commented on #72
According to https://github.com/gregwebs/dlist-instances/pull/2 this is fixed.

[2016-08-30 19:59] #72 closed

[2016-08-30 21:42] phadej commented on #71
@bergmark both `quickcheck-io` and `tasty-quickcheck` depended on `QuickCheck` in library components. So `matrix` did caught them.

Let's have this open until `QuickCheck-2.9` enters Stackage Nightly, and replicate the failures discovered by Stackage build here, for future reference purposes.

[2016-08-30 21:43] phadej commented on #70
Wolfgang made new releases. Let's close

[2016-08-30 21:43] #70 closed

[2016-08-30 21:47] phadej commented on #69
@bergmark edited the first comment. Cannot verify as matrix is unresponsive to me.

[2016-09-07 16:59] phadej opened #78 "Relaxing QuickCheck bounds for aslatter's packages."
- https://github.com/aslatter/uuid/pull/23
- https://github.com/aslatter/qc-instances/pull/24 (opened on Jul 11, i.e. 2 months ago)

I have contributed to both `QuickCheck` and `quickcheck-instances` to say that bumping is safe. Also there doesn't seem to be any problem with `uuid` and `uuid-types`, as there usage is pretty basic.

These are (also indirectly) blocking many updates, see https://git

[2016-09-18 15:25] bergmark opened #79 "HsOpenSSL takeover"
Initiated here: https://mail.haskell.org/pipermail/haskell-cafe/2016-September/124999.html

[2016-09-18 16:08] hvr commented on #79
For the record, here's the "recent" hackage activity of HsOpenSSL only maintainer:

[code]

/cc @vshabanov

[2016-09-21 19:02] bergmark opened #81 "opaleye test suite bounds"
@tomjaguarpaw asked me to bump the aeson bound for opaleye here: https://github.com/fpco/stackage/issues/1908

Revision: https://hackage.haskell.org/package/opaleye-0.5.1.1/revisions/

[2016-09-21 19:02] #81 closed

[2016-10-03 15:53] hvr commented on #79
@vshabanov 2 weeks have passed by now; are you proceeding with the takeover?

[2016-10-03 22:52] vshabanov commented on #79
Yes. Just uploaded new HsOpenSSL version to Hackage which merges all pull requests (except one for GHC 6.x) from the original repo.

[2016-10-04 15:45] bergmark commented on #79
Cool!

[2016-10-04 15:45] #79 closed

[2016-10-04 15:48] bergmark opened #82 "word24 takeover"
Requested by @winterland1989 in https://groups.google.com/forum/#!topic/haskell-cafe/IVSlQelwGsU on 2016-09-29, so hackage admins can be contacted 2016-10*-13

[2016-10-04 19:53] hvr commented on #82
@bergmark do we need a timemachine? :3

[2016-10-04 21:42] bergmark commented on #82
whoopsie

[2016-10-05 10:18] winterland1989 commented on #82
John has already added  me to the hackage maintainers list after he got the takeover email, so it's not necessary to do so, thanks!

[2016-10-05 21:35] bergmark commented on #82
Great!

[2016-10-05 21:35] #82 closed

[2016-11-03 17:45] bergmark opened #83 "Loosen download-curl's bound on tagsoup"
I got a request to do this and went ahead (https://hackage.haskell.org/package/download-curl-0.1.4/revisions/), seems harmless since it still builds and tagsoup-0.14 just removed a module.

Waiting for the matrix build...

[2016-11-04 08:23] bergmark commented on #83
Latest version looks good!

![screen shot 2016-11-04 at 09 23 09](https://cloud.githubusercontent.com/assets/100681/19999015/55bffa36-a270-11e6-80ab-7cd0c65edb75.png)

[2016-11-04 08:23] #83 closed

[2016-11-07 18:35] bitemyapp opened #84 "Absentee Esqueleto maintainer"
https://github.com/prowdsponsor/esqueleto/issues/137#issuecomment-256532641

This is first notice for my contact of Prowdsponsor / Lessa.

![screenshot from 2016-11-07 12-35-37](https://cloud.githubusercontent.com/assets/320177/20070618/b3df5314-a4e6-11e6-9d00-62c4891bc2cd.png)

[2016-11-07 18:36] bitemyapp commented on #84
Additional note: I use Esqueleto at my day job, which is more than I can say for Bloodhound :)

[2016-11-08 15:19] hvr commented on #84
@bitemyapp btw, as per https://wiki.haskell.org/Taking_over_a_package it's recommended to communicate/broadcast your intention to take over a package over a public medium which has a wide reach, such as haskell-cafe or the libraries mailinglist; have you done that already?

[2016-11-18 21:13] jdreaver commented on #84
@bitemyapp let me know if you publicly broadcast your intention to take over the package, I'm :+1: on that.

I also want Felipe to come back too though :(

[2016-11-18 22:12] bitemyapp commented on #84
@hvr I'd discussed it on a public Slack (FPChat, has a couple thousand members, several hundred in #haskell), I'll cross-post to the mailing list.

[2016-11-18 22:14] bitemyapp commented on #84
@hvr
![screenshot from 2016-11-18 16-14-46](https://cloud.githubusercontent.com/assets/320177/20448538/24c1d586-adaa-11e6-8f01-d7e577efd3c2.png)
![screenshot from 2016-11-18 16-14-41](https://cloud.githubusercontent.com/assets/320177/20448539/24ce3b3c-adaa-11e6-9f1c-e7bec2b8901b.png)

[2016-11-21 06:09] winterland1989 opened #85 "Change vector's primitive upper bound"
See: https://github.com/haskell/vector/issues/142, please change current upper bound ASAP, This breakage is affecting lots of package building.

[2016-11-21 07:27] hvr commented on #85
I'm on it

[2016-11-21 07:38] hvr commented on #85
Added `primitive < 0.6.2` bounds:

 - https://hackage.haskell.org/package/vector-0.11.0.0/revisions/
 - https://hackage.haskell.org/package/vector-0.10.12.3/revisions/

[2016-11-21 07:49] winterland1989 commented on #85
Thanks!

[2016-11-21 07:49] #85 closed

[2016-11-21 11:02] hvr commented on #84
For the record, @meteficha last recorded activity on Hackage was back in february:

[code]

And GitHub shows the last activity dating back to July 2016.

[2016-11-21 23:51] hvr opened #86 "Package takeover: indents"
see https://mail.haskell.org/pipermail/haskell-cafe/2016-November/125582.html

/cc @jaspervdj

[2016-11-22 09:22] hvr commented on #86
The original author's Hackage activity stopped in 2012:

[code]

[2016-11-22 09:26] hvr commented on #86
@jaspervdj Given the data above, I'd suggest accelerating the takeover, and asking admin@hackage.haskell.org  rightaway, referring this ticket. In the unlikely event that the original author resurfaces after 4 years of inactivity we'd can just hand it back...

[2016-11-22 09:52] jaspervdj-luminal commented on #86
Okay, thanks!

[2016-11-22 15:17] jaspervdj commented on #86
I will wait a bit longer since Yitz found [another email address](https://mail.haskell.org/pipermail/haskell-cafe/2016-November/125592.html) of the author, so I should give some time respond.

[2016-12-06 18:24] Mistuke opened #87 "Fix dependencies of double-conversion on Windows"
The package `double-conversion` currently does not work on Windows due to incomplete dependencies specified in the cabal file.

Unfortunately `double-conversion` hasn't been updated since 2014.

This issue was opened in 2014 with no response from the maintainer https://github.com/bos/double-conversion/issues/7 and a fix was submitted in October 2015 with again no response from maintainer https://g

[2016-12-07 12:39] phadej commented on #87
Such edit needs NMU

[2016-12-07 15:37] TomMD opened #88 "Friday Non-takeover (additional maintainer)"
I'd like to be _added_ to the hackage maintainer list for Friday.  Evidence this is likely already OK with the MIA maintainer (Raphael): I already have commit access to the repository under his github username.

Initiated here: https://github.com/RaphaelJ/friday/pull/27

I could send the note to an ML if you'd like but I haven't had reason to believe Raphael reads MLs.

[2016-12-07 16:43] hvr commented on #88
summoning @hesselink

[2016-12-07 21:13] hesselink commented on #88
Summoned! This all looks good, @TomMD I've added you as a maintainer.

[2016-12-09 09:24] phadej commented on #87
@hvr contacted Bryan via email (He isn't following github actively). Let's wait a bit.

[2016-12-09 18:00] Mistuke commented on #87
Alright :) Thanks for the update!

[2016-12-10 21:45] danpalmer commented on #84
Esqueleto is now out-of-date enough that the `yesod-postgres` Stack template isn't compatible with it without some modification. 👍  to more maintainers.

[2016-12-11 00:00] hvr commented on #84
Summoning @hesselink

[2016-12-11 00:04] hvr commented on #86
@jaspervdj ...what's the status from your POV?

[2016-12-11 12:56] jaspervdj-luminal commented on #86
@hvr The author responded and said it was fine if I took over the package.  I just need to find some time to port over the improvements from our proprietary source code to the package source and then I can upload a new version.

[2016-12-12 08:42] hvr commented on #86
@jaspervdj-luminal @jaspervdj great

Since I don't see you mentioned in

http://hackage.haskell.org/package/indents/maintainers/

yet, I'm summoning @hesselink to speed things up :-)

[2016-12-13 19:47] hvr commented on #87
@Mistuke A new version of double-conversion was just released by @bos which is supposed to fix all known issues. Is there anything left to do here?

[2016-12-14 00:13] thomasjm commented on #84
@bitemyapp posted his intent to take over to haskell-cafe 25 days ago. The policy at https://wiki.haskell.org/Taking_over_a_package says the admins will wait 2-6 weeks before making the change--any chance we could call it soon? :)

(Esqueleto Stackage issues have been ongoing since June 2016--at this point it's the main thing keeping me from upgrading to GHC 8.)

[2016-12-14 01:08] jdreaver commented on #84
+1 on moving this along. It's been many weeks now, and Felipe is clearly absentee (as sad as that is). What are the next steps here? Is there someone else that needs to approve?

[2016-12-14 01:19] AKurilin commented on #84
+1 - I'd love for Felipe to continue maintaining this but if it's not an option then I'm in support of @bitemyapp taking it over, or perhaps we at Front Row can help out with it.

[2016-12-14 02:25] Mistuke commented on #87
@hvr No, this fixes the issue. Thanks!

[2016-12-14 02:25] #87 closed

[2016-12-14 20:21] hesselink commented on #84
Turns out @snoyberg is a maintainer for esqueleto on hackage. So I'll leave it up to him to decide how to proceed here. I've sent him an email.

[2016-12-14 20:23] snoyberg commented on #84
I had no memory of having that, doh! Yup, I have no problem with giving @bitemyapp access, I'll do that now.

[2016-12-14 20:24] hesselink commented on #86
@hvr @jaspervdj Done!

[2016-12-14 20:34] bitemyapp commented on #84
I think this is sorted, closing for now.

@jdreaver @AKurilin @danpalmer @thomasjm please file your current needs/concerns at  https://github.com/bitemyapp/esqueleto the current version has some fixes from @pseudonom - like to get a sense of where things are at and what needs catching up on.

[2016-12-14 20:34] #84 closed

[2016-12-22 18:21] jaspervdj commented on #86
@hvr I uploaded a new version, this issue can be closed now.

[2016-12-22 21:11] hvr commented on #86
alright!

[2016-12-22 21:11] #86 closed

[2017-01-05 23:34] mrkkrp opened #89 "A question regarding `req` build failure that started to happen on Travis"
OK, I understand that this is not a request to do something with a particular package, so it may be off-topic, but I think my issue indicates that something has been changed on Hackage a while ago that made Cabal build of one my package start to fail for older GHCs (7.10 and 7.8), while before the builds were OK. Note that I haven't changed anything that would cause the breakage, it happens solely

[2017-01-05 23:41] bergmark commented on #89
[code]
Try setting it to a high number like 10k, or -1 for no limit. Newer GHC versions may have a solution that's quicker for cabal to compute.

Dependency resolution gets more difficult over time since the number of combinations of packages grows as releases are made.

[2017-01-05 23:45] hvr commented on #89
@mrkkrp well, we've even got a "question" label, so questions are not off-topic in general :-)

and @bergmark's comment is spot on; also note that more recent cabal versions have more optimised solvers; so e.g. w/ cabal 1.25+ I don't run into the default backjump limit for ghc 8.0/7.10/7.8

You could give

https://github.com/hvr/multi-ghc-travis/blob/master/make_travis_yml_2.hs

a try which uses `

[2017-01-06 07:35] hvr commented on #89
@mrkkrp if you use the script I linked you, it uses cabal 1.25 for all GHC versions; it does so because it require fixes to  `new-build`  only available in 1.25+; in the past there was a correspondence between cabal and ghc, but more recent cabal versions don't require this anymore (and in fact you want to use at least cabal 1.24 in order to have things like `setup-depends` or `other-extensions` b

[2017-01-07 20:49] RyanGlScott opened #90 "haddock-api-2.17.3 fails to build with GHC 8.0.2"
`haddock-api-2.17.3` from Hackage fails to build with GHC 8.0.2, as observed [here](https://travis-ci.org/gtk2hs/gtk2hs/jobs/189834962#L353):

[code]

Should the upper version bound on `ghc` be edited to `< 8.0.2`?

[2017-01-08 15:18] bergmark opened #91 "bytestring+binary"
A couple of build failures, tested with GHC-7.8.4:

[code]

[code]

[2017-01-08 15:34] bergmark commented on #90
Looks like it, I published new revisions for 2.17.3 and 2.17.2.

Has this/should this be reported elsewhere?

[2017-01-08 15:36] #57 closed

[2017-01-08 15:38] #88 closed

[2017-01-08 15:43] RyanGlScott commented on #90
I'm quite confused about what's going on myself, since the version of `haddock` that's shipped with GHC 8.0.2 itself is 2.17.3:

[code]

[2017-01-08 15:57] bgamari commented on #90
The problem here is that `ghc` 8.0.2 contains a orphan instances that 8.0.1 did not. It appears that `haddock` also defines these same orphans. Kaboom ensues.

Thankfully these orphans will be in `deepseq` as they should be (IIRC) in 8.2.

[2017-01-08 15:59] RyanGlScott commented on #90
Wait, I'm even more confused.

Surely not? After all, these instances are for datatypes in the GHC API, which have no business belonging in `deepseq`.

Also, will there be a Hackage release of the version of `haddock`(`-api`) that is apparently bundled with GHC 8.0.2?

[2017-01-08 16:06] bergmark opened #92 "aeson build failures"
I've been getting this on a bunch of travis builds: https://travis-ci.org/faylang/fay#L2919

I wasn't able to reproduce it locally, any ideas?

[code]

[2017-01-08 16:22] hvr commented on #92
it's unfortunate that it's truncated... it would be worth a try to use `-j1` to have the full msg outputted; or add some `cat /home/travis/.cabal/logs/*.log` line to the travis log...

[2017-01-08 17:04] hvr commented on #92
@bergmark alternatively, try to `cabal freeze` and then `cat` the resulting freeze file to the log output...

[2017-01-08 17:31] bergmark commented on #92
Ah here's the issue: https://github.com/lpsmith/bytestring-builder/blob/67fa986eb2946dcf7161f70a461b3ee48a6a3682/src/Data/ByteString/Short/Internal.hs#L137

[2017-01-08 17:37] bergmark commented on #92
I'm not sure how this should be solved though, semigroups depends on bytestring-builder which conditionally has a semigroup instance for newer base versions. Should  the instance be defined in semigroups for older ghcs?

[2017-01-08 18:03] hvr commented on #92
@bergmark https://github.com/ekmett/semigroups/blob/master/src-ghc7/Data/Semigroup.hs#L933-L937

[2017-01-09 20:36] bergmark commented on #92
I think this was just an old cabal-install.

[2017-01-12 15:41] RyanGlScott opened #93 "GHC 8.0.2 build breakages"
This is a ticket to keep track of packages that fail to build with GHC 8.0.2. (Note that I'm excluding #90, since that was reported separately.)

They can be lumped into two categories:

* [GHC Trac #12881](https://ghc.haskell.org/trac/ghc/ticket/12881)
  * [X] [`consul-haskell-0.4`](http://hackage.haskell.org/package/consul-haskell-0.4) (https://github.com/alphaHeavy/consul-haskell/pull/17)
  * [

[2017-01-12 16:15] phadej commented on #93
Thanks for the patches!

[2017-01-16 18:48] RyanGlScott commented on #93
[`rethinkdb-2.2.0.8`](http://hackage.haskell.org/package/rethinkdb-2.2.0.8) released with GHC 8.0.2 support.

[2017-02-12 21:57] RyanGlScott commented on #90
See also https://github.com/haskell/haddock/issues/571

[2017-02-12 22:00] RyanGlScott commented on #93
[`consul-haskell-0.4.2`](http://hackage.haskell.org/package/consul-haskell-0.4.2) has been released, which supports GHC 8.0.2.

[2017-02-14 12:58] sol commented on #91
Affected versions of `binary` are `0.8.3.0`, `0.8.4.0` and `0.8.4.1`.  Can somebody please add `bytestring >=0.10.4` to these? (@phadej).

[2017-02-14 13:00] phadej commented on #91
@bergmark was there some concerns why you didn't add the bounds?

[2017-02-14 13:05] bergmark commented on #91
I didn't get the time to figure out what the correct change was

[2017-02-14 13:20] phadej commented on #91
@bergmark I'll check on Thursday or Friday if nobody does that before. A bit busy atm myself too.

[2017-02-15 20:08] kolmodin commented on #91
I fixed kolmodin/binary#123 for future versions of `binary`. Bumped the versions on hackage too.

[2017-02-18 07:50] ezyang opened #94 "transformers-0.5.3.0 no longer compatible with GHC 7.8 and earlier"
Could we get a base bounds bump?

Sample failing builds log: https://travis-ci.org/haskell/cabal/jobs/202820176

Upstream tracking issue: http://hub.darcs.net/ross/transformers/issue/36

[2017-02-18 08:09] phadej commented on #94
IMHO it's bug in transformers, and should be fixed there (with baseball bump or proper contexts or use of `liftM`, which is quite simple fix)

[2017-02-22 15:24] sjakobi opened #95 "cassava: extend upper bound for vector"
The author [has been notified](https://github.com/hvr/cassava/issues/129) of the issue and [a PR](https://github.com/hvr/cassava/pull/125) has been open for several weeks. Given that it's a simple bounds issue it would be nice if a trustee could fix it.

[2017-02-25 16:19] RyanGlScott commented on #94
A new version of `transformers` has been release which fixes this issue, and moreover, `transformers-0.5.3.0` has been marked as deprecated (and had its version bounds tightened), so is as good as fixed.

[2017-02-25 16:33] phadej commented on #94
Thanks for the info. Closing this issue.

[2017-02-25 16:33] #94 closed

[2017-02-25 23:14] bergmark commented on #95
Done https://hackage.haskell.org/package/cassava-0.4.5.1/revisions/

[2017-02-25 23:14] #95 closed

[2017-02-26 03:45] sjakobi commented on #95
Thanks a lot!

[2017-03-03 10:16] bergmark commented on #92
Resurfaced for @23Skidoo with cabal-install 1.24. @23Skidoo are you able to reproduce this?

[2017-03-03 10:20] 23Skidoo commented on #92
@bergmark It depends on the contents of the package DB. First I managed to trigger it with an old `cabal-install` and that made `cabal-1.24 install aeson` fail as well. Nuking `~/.ghc` and `~/.cabal` helped.

[2017-03-03 10:26] 23Skidoo commented on #92
Yeah, and that was with GHC 7.8.

[2017-03-03 12:07] bergmark commented on #92
Ah, thanks, that makes sense. So I guess we should close this again since the fix is to nuke those folders?

[2017-03-03 12:07] #92 closed

[2017-03-03 12:10] 23Skidoo commented on #92
Maybe the fix @hvr [linked above](https://github.com/haskell-infra/hackage-trustees/issues/92#issuecomment-271167484) can be applied to `aeson`, but I don't have time to investigate right now.

[2017-03-18 09:17] bergmark opened #96 "dbus takeover"
Requested 2017-03-17 https://mail.haskell.org/pipermail/haskell-cafe/2017-March/126561.html by @rblaze

[2017-03-18 12:49] hvr commented on #96
@rblaze states

However, the only upper bound that was limiting was the upper bound on `vector` (which I've just relaxed after having convinced myself that the API changes in vector-0.12 don't break `dbus` as well as having run the testsuite). Coincidentally, there were a couple of upper bounds missing which I added.

[2017-03-18 18:15] RyanGlScott commented on #90
[`haddock-api-2.17.3.1`](http://hackage.haskell.org/package/haddock-api-2.17.3.1) has been uploaded to Hackage, which supports GHC 8.0.2.

[2017-03-18 18:15] #90 closed

[2017-03-21 02:20] rblaze commented on #96
It is also using chell-quickcheck in tests, which is dependent on QuickCheck <2.9. And I suppose other libraries will start to drop off allowed range soon. My intention is to return dbus to stackage builds, and this may take more updates, see https://github.com/fpco/stackage/pull/2293

[2017-03-21 08:25] hvr commented on #96
@rblaze Oh right, yeah... this limitation of Stack/Stackage that even the testsuite compent's deps which are totally irrelevant when you just want to use the library component need to be inside the Stackage snapshot is super annoying (which is actually one of the reasons I don't bother to get my packages included in Stackage) :-(

[2017-03-21 08:49] bergmark commented on #96
@hvr you can add your packages with skipped test suites by filing them under Wontfix.

[2017-03-21 09:19] hvr commented on #96
@bergmark I see... can't we just use that for `dbus` as well then? :-)

[2017-03-21 12:21] bergmark commented on #96
Sure! But both trustees and stackage curators should be happier if there's a designated maintainer with hackage access to take care of issues.

[2017-04-07 11:08] bergmark commented on #96
@rblaze it's been > 2 weeks now, has anything happened so far? Next step is to e-mail/ping hackage admins to transfer maintainership

[2017-04-07 14:20] rblaze commented on #96
Yep, thanks for reminding, will do right away.

[2017-04-07 14:44] hesselink commented on #96
I've added @rblaze to the maintainers of dbus.

[2017-04-07 14:55] bergmark commented on #96
Thanks!

[2017-04-07 14:55] #96 closed

[2017-04-07 15:05] bergmark commented on #91
Looks like @kolmodin sorted this out, thanks!

[2017-04-07 15:05] #91 closed

[2017-04-07 16:36] bergmark commented on #76
Seems like @hvr fixed this!

[2017-04-07 16:36] #76 closed

[2017-04-07 16:39] bergmark commented on #74
Looks resolved!

[2017-04-07 16:39] #74 closed

[2017-04-09 10:07] bergmark commented on #73
Some of these packages have red cells but the HSE issue is resolved in all.

[2017-04-09 10:07] #73 closed

[2017-04-09 11:15] bergmark commented on #69
I fixed the remaining packages

[2017-04-09 11:15] #69 closed

[2017-04-09 11:15] bergmark commented on #71
QuickCheck 2.9 has been in nightly for a long time now so let's close

[2017-04-09 11:15] #71 closed

[2017-04-13 16:43] phadej opened #97 "quickcheck-instances takeover"
Requested at 2017-04-07 https://mail.haskell.org/pipermail/haskell-cafe/2017-April/126726.html

#78 is related. @hvr is a co-maintainer of `uuid` atm.

[2017-04-14 12:57] RyanGlScott commented on #93
[`quickcheck-combinators-0.0.2`](http://hackage.haskell.org/package/quickcheck-combinators-0.0.2) has been released, which supports GHC 8.0.2.

[2017-04-15 23:44] bergmark opened #98 "store - overeager restriction in revision (was: possible revision bug?)"

[2017-04-15 23:48] bergmark commented on #98
Whoops, premature RET...

Looking at https://hackage.haskell.org/package/store-0.2.1.2/revisions/ we can see that an upper bound was added to base64-bytestring. The lower bound was not changed but is `>= 0.1.1`, but somehow stackage lts-7 includes store-0.2.1.2+base64-bytestring-1.0.0.1. Is there something wrong with hackage, or something wrong with the lts build? AFAIK there should be no reason f

[2017-04-15 23:53] hvr commented on #98
@bergmark you're right! I'll fix it rightaway

[2017-04-15 23:56] bergmark commented on #98
Thanks! It's very strange though, looking at https://hackage.haskell.org/package/store-0.2.1.2/src/store.cabal there is no x-revision field there but the lower bound is the same!

[2017-04-16 00:01] hvr commented on #98
@bergmark I've fixed the `<0.2`'s... but why is it strange that the 0th revision looks that way? :-)

[2017-04-16 00:08] bergmark commented on #98
Ah I think I was jumbling up the version numbers :)

[2017-04-16 00:10] bergmark commented on #98
Should be good now, I'll verify tomorrow.

[2017-04-16 08:59] hvr commented on #98
@bergmark Btw, avoiding/catching issues like this quicker is why I'm planning for the next-gen matrix to keep track of package collections (starting with LTS snapshots)...

[2017-04-16 11:04] bergmark commented on #98
👍

[2017-04-16 16:19] #98 closed

[2017-04-21 13:21] RyanGlScott commented on #58
It might be time to perform another bounds update on `hastache`, since GHC 8.2 is imminent, and it looks like https://github.com/lymar/hastache/pull/56 is going to be merged/released anytime soon.

[2017-04-21 14:20] hvr commented on #58
I can take care of it later today; at this point, hastache seems basically to have been abandoned by its author (it's marked deprecated on Hackage too). So Trustees can just take care to perform the occasional meta-data maintainance....

[2017-04-21 21:23] hvr commented on #58
done; works w/ GHC 8.2.1 now

[2017-04-21 21:23] #58 closed

[2017-04-23 10:27] bergmark opened #99 "warp build failures"
I don't have time to look into this ATM, but warp-3.0.9 fails to build in a clean sandbox

[code]

[2017-04-23 18:11] phadej commented on #99
http://hackage.haskell.org/package/wai-3.2.1.1/changelog

Seems `warp` and `wai` versions should be in sync.

[2017-04-24 04:33] phadej opened #100 "Package takeover: quickcheck-instances"
See https://mail.haskell.org/pipermail/haskell-cafe/2017-April/126726.html

The issue is related: https://github.com/nick8325/quickcheck/issues/158#issuecomment-296492840

[2017-04-24 04:36] phadej commented on #100
I'll send an email to hackage admins to add me as maintainer in few days; if no-one objects.

[2017-04-24 11:09] hvr commented on #100
@phadej  this reminds me of #97 :-)

[2017-04-24 11:21] phadej commented on #100
oh, I forgot I made an issue

[2017-04-24 11:21] #100 closed

[2017-04-24 11:22] phadej commented on #97
I'll send an email to hackage admins to add me as maintainer in few days; if no-one objects.

[2017-04-24 12:23] hvr commented on #97
@phadej I'd suggest sending the email now to avoid any further delays. That way you got the permissions on Hackage in place, but can already start planning the actual upload together with the QC maintainers.

[2017-04-27 18:12] glguy opened #101 "lvmlib build failures"
http://hackage.haskell.org/package/lvmlib

This is a dependency of the Helium package that doesn't specify its constraints and doesn't work on post-FTP base. Updating the base bound would help users find valid install plans.

[2017-04-27 19:08] hvr commented on #101
done!

[2017-04-27 19:08] #101 closed

[2017-04-29 23:17] bergmark commented on #99
My problem areas have been fixed now.

[2017-04-29 23:17] #99 closed

[2017-05-07 10:07] hvr commented on #97
@phadej any progress made?

[2017-05-07 16:12] phadej commented on #97
@hvr, I sent an email. I totally forgot about this one back then.

[2017-05-08 08:10] hesselink commented on #97
I've added @phadej as a maintainer.

[2017-05-08 08:34] bergmark commented on #97
Thanks!

[2017-05-08 08:34] #97 closed

[2017-05-23 20:40] JonCoens opened #102 "dependent-sum-template bounds bump"
The dependent-sum-template library does not have a set of bounds that work with stackage for GHC 8.0.2.

Upstream issue: https://github.com/mokus0/dependent-sum-template/issues/7

Since then, 4 different pull requests have been made to update the bounds of dependent-sum with no response from the maintainer. Looking at the repo, the last update was over a year ago.

Is it possible to get the latest

[2017-05-25 08:52] hvr commented on #102
I'm slightly hesitant to relax the upper bound, until somebody can reassure me that dependent-sump-template's API contract isn't broken by allowing a newer version of `dependent-sum`; I gave it a quick look, but since TH is involved, it's not easy to reason about the API :-/

[2017-05-29 09:12] hvr opened #103 "`standalone-haddock` needs version bounds"
![untitled](https://cloud.githubusercontent.com/assets/285533/26543817/ac26b216-445f-11e7-92d9-8c62c59a7e95.png)

The bitrot is known upstream (feuerbach/standalone-haddock#15)

[2017-05-31 22:05] JonCoens commented on #102
I spoke with @ryantrinkle and he is taking over ownership of the `dependent-sum-template` package from @mokus0.

Thanks!

[2017-05-31 22:05] #102 closed

[2017-06-10 02:08] glguy opened #104 "stream-fusion needs an upper bound"
This package is long since merged into base, but people appear to be able to find it. Could you trigger a matrix job for this package so we can see how far back to send the base upper bound?

[2017-06-10 10:22] hvr commented on #104
Done & revised meta-data:

https://matrix.hackage.haskell.org/package/stream-fusion

On the bright side, we'll probably never going to have to touch the revised meta-data ever again as there's no missing upper bounds anymore.

[2017-06-10 10:22] #104 closed

[2017-06-22 02:52] clinty opened #105 "hgettext needs NMU to support newer haskell-src-exts"
https://github.com/vasylp/hgettext/issues/10

dependency of bustle

[2017-06-22 07:45] hvr commented on #105
@clinty tbh, I can't confirm the bitrot. Cabal doesn't appear to run into unsound install-plans caused by `hgettext`'s meta-data for GHC < 8.2 (see https://matrix.hackage.haskell.org/package/hgettext).

As for GHC 8.2.1, once https://github.com/tibbe/hashable/pull/140#issuecomment-310300409 is resolved I expect GHC 8.2.1 to be fine too.

[2017-06-22 14:39] clinty commented on #105
It's the incompatibility with haskell-src-exts 1.18 that's the problem.  If this is out of scope for hackage-trustees, feel free to close.

[2017-06-22 15:17] hvr commented on #105
@clinty oh that! That's actually in-scope, it's just that we usually refer to bit-rotting for something totally else. This here is rather about requesting a non-maintainer-upload.

[2017-06-23 22:27] bitemyapp opened #106 "Do not publish revisions for any packages I maintain or own"
Anything listed here: http://hackage.haskell.org/user/bitemyapp

[2017-06-23 22:28] bitemyapp commented on #106
If an upper bound needs bumped, file an issue or a PR.

[2017-06-23 22:36] #106 closed

[2017-06-23 22:40] hvr commented on #106
Please refer to https://github.com/haskell-infra/hackage-trustees/blob/master/policy.md

[2017-06-27 17:08] ndmitchell commented on #106
On [Reddit](https://www.reddit.com/r/haskell/comments/6iuy6n/we_should_stop_silently_fixing_other_peoples/djbg4uw/) @bitemyapp said:

If true, from what I can tell, that violates the policy linked to. @hvr, can you confirm the notification policy is being followed? @bitemyapp - can you say which package? @hvr - can you say what notification mechanism you are likely to have used?

[2017-06-27 17:16] bitemyapp commented on #106
@ndmitchell https://github.com/bitemyapp/esqueleto/issues?utf8=%E2%9C%93&q=is%3Aissue

http://hackage.haskell.org/package/esqueleto-2.5.1

[2017-06-27 17:17] bitemyapp commented on #106
@ndmitchell https://github.com/bitemyapp/esqueleto/pull/24

http://hackage.haskell.org/package/esqueleto-2.5.1

The revision was put up on Hackage before I merged, assented, or uploaded a fixed version.

[2017-06-27 17:22] ndmitchell commented on #106
Thanks @bitemyapp. So, for the timeline:

* @hvr discovered the code is broken pre-GHC 7.8, which from the pull request seems to be accurate.
* @hvr opened a pull request, containing both the error message and a patch.
* 4 minutes later @hvr edited Hackage.

So it seems @hvr did tell you what was wrong, and raise a PR, but didn't mention it was also being modified on Hackage. I guess if the silent

[2017-06-27 17:22] bitemyapp commented on #106
What I want is a PR and to cut a release. No revisions. If people are going to continually ignore the wishes of people maintaining these libraries I'll figure something else out.

[2017-06-27 17:55] MichaelXavier commented on #106
Apologies for barging in here and if this suggestion has already been made in another channel. What if the policy of both tightening and loosening constraints were amended to give the author a reasonable amount of time to respond on their own, kind of like how taking over package maintainership works. It seems like the maintainership policy was written to prioritize a package author's authority ov

[2017-06-27 17:56] phadej commented on #106
Sometimes the revision for **old** version is a **mandatory** thing. Releasing new one doesn't help.

Scenario: no revision is made (for `2.5.1`), but there is a new version (`2.5.2`). released with tighter bounds: from `>=4.5 && <5.0` to `>=4.8 && <5.0`. If the user has an old GHC: GHC-7.6 with `base-4.6`, and they try their luck, whether they can use newish `esqueleto == 2.5.*`, then the cabal s

[2017-06-27 17:58] phadej commented on #106
@MichaelXavier, it's also important that we act quickly, and correct obviously wrong bounds. Otherwise the Hackage will be poisoned until someone does something.

Hackage Trustees **only** tighten bounds, after the evidence that that particular version of package isn't buildable given specified constraints. And we pay extra care to do precise corrections. One could even say, that after seeing hund

[2017-06-27 18:11] bitemyapp commented on #106
@phadej it's not mandatory at all, plenty of other package ecosystems do without and benefit thereby. I've seen people reach similar conclusions regarding immutable and mutable semantics in programming languages.

You can fork the older version, install it into a sandbox. If you're using Stack it's pretty easy to depend on a git repository. I don't know for sure, but I think Nix makes it pretty ea

[2017-06-27 18:16] MichaelXavier commented on #106
@phadej sounds like you're talking about backporting the dependency fix to older major versions. A few questions:
1. Does hackage support out-of-order releases, i.e. with `1.0.0` and `2.0.0` live, could I release a `1.0.1` release?
2. If today trustees do the backporting themselves with revisions, are they actually going through every single older version and tightening bounds, or is it more infor

[2017-06-27 18:21] phadej commented on #106
1.  @MichaelXavier, yes one can release `1.0.1` after `2.0.0.` is live. But that won't help, as I told before. if `1.0.0` has too loose bounds, cabal solver may pick it.

2. Yes, we go thru **all** versions. For example: All `0.2.*` of `http-client-tls`  were broken, when `http-client-0.5` was released: I made revisions for all of them: https://matrix.hackage.haskell.org/package/http-client-tls

[2017-06-27 18:23] phadej commented on #106
@bitemyapp please tell an example of such ecosystem, which has single-package version restriction, has deep and wide dependency graphs, and isn't over conservative with introducing breaking changes?

[2017-06-27 18:26] bitemyapp commented on #106
@phadej Rust's Crates ecosystem (cargo is the command line application) has immutable packages, deep and wide dependency graphs, a comparable number of packages (about 10k), and they introduce breaking changes to libraries all the time. Hyper is a particularly good example of this as many things depend on it.

The point is that we don't need immutable packages. `cabal-install` users making use of

[2017-06-27 18:33] MichaelXavier commented on #106
@phadej ok, I see. So in your example, `2.5.1` incorrectly said it would allow a broader range of `base` than it really could, leading to those using older bases having a solvable dependency graph but compile-time errors with the package. So in that case `2.5.2` corrects this by expressing a tighter lower bound on `base`. But our goal for those on older base is to get their cabal-install to pick a

[2017-06-27 18:37] phadej commented on #106
@bitemyapp that's were we disagree: your options is so

When my (and Trustees practice) is to

---

Rust Crates is different in a very important way,:they use **^1.2.3** -style versions bounds. Which is `>=0.1.2.3 && <0.2` in PVP (or `^>=0.1.2.3` as `Cabal-2.0` will support). On Hackage it's common practice to support wide range of major versions (`base` as an obvious example).

Please, go ahead a

[2017-06-27 18:55] phadej commented on #106
@MichaelXavier Deprecation marks a package version as less luckily to be picked up by the solver, it may still pick deprecated versions, especially if it's the only option. So
- yes, if user specifies `>=2.4` then *probably* some `2.4.*` version will be picked
- no, if user specifies `==2.5*`, the `2.5.1` will be picked as the only option.

Note: deprecation of a version is also a package metadata

[2017-06-27 19:05] phadej commented on #106
And also to mention explicitly: go ahead and check whether `matrix.hackage.haskell.org` have build your packages, and how the matrix looks like. If there aren't build results, I'm happy to queue your packages as well.

[2017-06-28 09:34] #78 closed

[2017-06-28 14:56] GregorySchwartz opened #107 "Update bounds for ForestStructures and BiobaseNewick"
See https://github.com/choener/ForestStructures/issues/1 and https://github.com/choener/BiobaseNewick/issues/1.

find-clumpiness is affected in Stackage.

[2017-07-19 08:58] taktoa opened #108 "`tasty-lens` and `smallcheck-lens` need version bumps for `base`"
See jdnavarro/tasty-lens#1 and jdnavarro/smallcheck-lens#4.

[2017-07-23 14:21] jdnavarro commented on #108
I'm the maintainer of those packages, sorry for the delay replying. @taktoa do the packages break when bumping `base` version?

[2017-07-28 18:18] glguy opened #109 "simple-sql-parser base upper-bound too tight"
https://github.com/JakeWheat/simple-sql-parser/issues/13

[2017-07-28 18:19] glguy opened #110 "hgmp base upper-bound too tight"
This package builds on 8.2 and seems to be working for @yav

[2017-07-29 17:36] RyanGlScott opened #111 "Win32-extras won't build with Win32-2.5.0.0 or later"
`Win32-2.5.0.0` merged in the entire contents of the `Win32-extras` library. However, `Win32-extras` has not updated to re-export the appropriate modules from `Win32`. Now if you build `Win32-extras`, it will fail with:

[code]

I've opened an issue at https://hub.darcs.net/shelarcy/Win32-extras/issue/2, but received no response.

cc @shelarcy

[2017-08-02 18:07] bergmark commented on #109
I commented on that issue, so let's give it a few days and see if the maintainer notices?

[2017-08-02 18:08] bergmark commented on #110
Have you sent an e-mail to the maintainer?

[2017-08-02 18:09] bergmark commented on #111
I don't have an environment where I can test this, does any of the trustees?

[2017-08-02 20:27] glguy commented on #110
Yes as of today

[2017-08-02 20:28] glguy commented on #109
OK. I don't see the value in leaving things in the current state in the meantime but if you want to check back in a couple of days that'd be great.

[2017-08-02 21:25] hvr commented on #111
I don't have such an environment at my disposal, but I'd be inclined to trust @RyanGlScott's judgement here

[2017-08-02 21:30] phadej commented on #111
I'd trust @RyanGlScott as well. I'll eventually get Windows PC, but I just hadn't time to order a game PC! (and it feels I don't have time to play either so...)

[2017-08-03 20:35] claudeha commented on #110
I published a new revision with relaxed bounds on base and QuickCheck, verifying that the test-suite passes.

[2017-08-04 01:12] phadej opened #112 "newtype-generics"
There are various PRs

- https://github.com/jcristovao/newtype-generics/pull/12 by @sjakobi (Jan 24)
- https://github.com/jcristovao/newtype-generics/pull/14 by @niteria
- https://github.com/jcristovao/newtype-generics/pull/15 by @phadej
- https://github.com/jcristovao/newtype-generics/pull/16 by @conal

I'd go with my version, there's a travis build: https://travis-ci.org/phadej/newtype-generics/

[2017-08-09 08:42] hvr commented on #111
@RyanGlScott I've set upper bounds to Win32-extras. I think at this point it'd be best to simply deprecate the package in favour of Win32 proper, rather than messing with reexports (you'd need to set rather tight bounds on `Win32` to do this in proper compliance with the PVP, and that's IMO not worth the effort).

[2017-08-09 11:47] RyanGlScott commented on #111
@hvr, thanks! I'd be fine with deprecating `Win32-extras` if you feel that would be the best course of action. (I'm not using `Win32-extras` directly myself, I just happened to notice that it broke when trying to build a library which depended on it.)

[2017-08-09 14:10] hvr commented on #111
@RyanGlScott was that package by any chance `git-annex`? :-) http://packdeps.haskellers.com/reverse/Win32-extras

[2017-08-09 14:17] RyanGlScott commented on #111
That's some fine detective work, @hvr ;)

Yep, I was indeed trying to install `git-annex`.

[2017-08-16 19:05] sjakobi commented on #112
@jcristovao has given me push access to the repo and Hackage, and I've uploaded a new version.

[2017-08-16 19:07] phadej commented on #112
I triggered matrix build, I'll close the issue if it turns out full green

[2017-08-17 00:36] phadej commented on #112
green: https://matrix.hackage.haskell.org/package/newtype-generics

[2017-08-17 00:36] #112 closed

[2017-08-20 15:10] #110 closed

[2017-08-20 15:11] bergmark commented on #109
Seems like it was resolved by the maintainer 👍

[2017-08-20 15:11] #109 closed

[2017-10-03 21:01] jiaochangyang opened #113 "NMU update for string-qq"
https://hackage.haskell.org/package/string-qq is totally bit rotten, in that it has a needless custom setup.hs that means it forces picking up installing an old cabal version (1.24) as a dep even when I'm using cabal 2.0, @cartazio  suggested I create a NMU request with hackage trustees because Audrey Tang is not active in Haskell land as of the past half decade, so an NMU to make it buildable wit

[2017-10-06 20:39] bergmark commented on #113
Hi @cj285, per [our policy](https://github.com/haskell-infra/hackage-trustees/blob/master/policy.md#policyprocedure-2) we'd like to see an pull request (or issue) filed to the repository first to give the maintainer a chance to respond.

[2017-10-06 23:09] cartazio commented on #113
Adam: the GitHub repo doesn’t exist any more.

On Fri, Oct 6, 2017 at 4:39 PM Adam Bergmark <notifications@github.com>
wrote:

[2017-10-06 23:22] bergmark commented on #113
? https://github.com/audreyt/string-qq

[2017-10-07 11:16] cartazio commented on #113
Huh.  Maybe I was clicking on the wrong urls before

On Fri, Oct 6, 2017 at 7:22 PM Adam Bergmark <notifications@github.com>
wrote:

[2017-10-08 06:35] ilovezfs opened #114 "Old versions of graphviz have no constraint on fgl"
Old versions of graphviz have no constraint on fgl. It looks like this affects everything `<=graphviz-2999.9.0.0`.

But even the latest version of graphviz (currently 2999.19.0.0) must constrain `fgl < 5.6`.

This can cause installs involving both graphviz and fgl to attempt to use one of the old graphviz versions to get around the fgl constraint if solver happens to choose `fgl >= 5.6`.

[2017-10-08 06:50] ilovezfs commented on #114
@clinty This affects hopenpgp-tools 0.19.5. A workaround is to set a constraint `graphviz >= 2999.17.0.0` but that shouldn't really be needed.

[2017-10-08 06:58] ilovezfs commented on #114
Also, CC @ivan-m

[2017-10-08 16:28] bergmark commented on #113
I should also ask: Do we have an OK from hackage admins/@audreyt to just perform an NMU for her packages? Maybe we should keep a list of these users as I've heard of others that this applies to as well! I'll send an email to admins and ask.

[2017-10-09 07:13] hvr opened #115 "happy-1.19.6/1.19.7"
A few packages are incompatible with the releases `happy-1.19.6` and `happy-1.19.7` (see https://github.com/simonmar/happy/issues/94 for details).

This will require to restrict `buildtools` bounds in affected packages; depending on whether this will be considered a bug upstream (and the next release, e.g. `happy-1.19.8` would revert to the previous behavior) or a feature a slightly different cour

[2017-10-10 17:44] hesselink commented on #113
@audreyt looks active on github, and I don't have any emails saying it's ok to update all of her packages. There's an email address on her github, have you tried that one? If we could get an explicit ok for all packages in the future, that would make things easier.

[2017-10-11 00:03] audreyt commented on #113
I'm fine with NMUs.

[2017-10-13 11:54] ilovezfs commented on #115
@hvr happy 1.19.8 has shipped https://hackage.haskell.org/package/happy-1.19.8

[2017-11-01 06:38] ilovezfs opened #116 "mighttpd2.cabal non-existent module"
Currently the matrix is a sea of red for mighttpd2: https://matrix.hackage.haskell.org/package/mighttpd2

This is due to the Mighty module not existing. I've opened a PR upstream with a fix (courtesy of @hvr): https://github.com/kazu-yamamoto/mighttpd2/pull/16

However, there has been no response from the maintainer. Is this something that should be fixed downstream here until upstream does someth

[2017-11-01 21:27] hvr commented on #116
There isn't much we can do other than maybe implement some hardcoded hack specifically for `mightttpd2`. Have you tried contacting the maintainer via email?

[2017-11-14 08:27] ilovezfs commented on #116
https://github.com/kazu-yamamoto/mighttpd2/pull/16 has now been merged so it's a question of getting a new release.

[2017-11-14 08:39] ilovezfs commented on #116
3.4.2 released!

[2017-11-14 08:39] #116 closed

[2017-11-30 19:08] ndmitchell opened #118 "Disable hscolour-1.24.3"
Please disable hscolour-1.24.3. It doesn't compile, with the error:

[code]

It breaks everything that depends on it, including for new users, e.g. https://twitter.com/calaverainfo/status/936277501197914112

[2017-11-30 19:09] ndmitchell commented on #118
CC @malcolmwallace

[2017-11-30 19:53] bergmark commented on #118
Done. There is a newer release of hscolour out as well.

[2017-11-30 19:53] #118 closed

[2017-12-05 08:45] hvr opened #119 "Cryptonite 0.23/0.24"
|  | `foundation` < 0.0.14 | `foundation` >= 0.0.14 | |
|--|--|--|--|
| `memory` < 0.14.9 | :white_check_mark: | :white_check_mark:  | `memory` depends on `foundation`; `memory` provides instance for `UArray` (re)exported by `foundation` |
| `memory` >= 0.14.9 | :boom: (missing instance for `UArray`)  | :white_check_mark:  | `memory` depends on `basement` |
| | | `foundation` depends on `basement`

[2017-12-05 12:48] phadej commented on #119
Let's proceed with `memory <0.14.9` bound. There are a plenty of install plans with `cryptonite-0.23` and `cryptonite-0.24` and some `memory <0.14.9` (in various freeze files!), let's not invalidate them.

[2017-12-06 13:54] #93 closed

[2017-12-10 14:37] tfausak opened #120 "integer-gmp-1.0.1.0 needlessly requires Cabal 2"
[`integer-gmp-1.0.1.0`](https://hackage.haskell.org/package/integer-gmp-1.0.1.0) requires `cabal-version: 2.0` for [its package description](https://hackage.haskell.org/package/integer-gmp-1.0.1.0/integer-gmp.cabal) even though the only feature it uses is `^>=` bounds. Specifically it uses `build-depends: ghc-prim ^>= 0.5.1.0` instead of `build-depends: ghc-prim >= 0.5.1 && < 0.6`.

Answering the

[2017-12-10 14:53] 23Skidoo commented on #120
One issue here is that Hackage prohibits revisions downgrading `cabal-version`, but perhaps we can add a whitelist with exceptions to that rule and put `integer-gmp-1.0.1.0` on it?

[2017-12-10 14:55] hvr commented on #120
Thank you for moving the discussion here.

As various people have already stated, Stack 1.5.1 + GHC 8.2 does not constitute an officially supported configuration (even if it happens to work accidentally). However, this can be easily fixed by `stack --upgrade` (which to my understanding is not hindered) and upgrading to Stack 1.6.1 which is the first Stack release that to my knowledge has proper GH

[2017-12-10 15:02] tfausak commented on #120
Seems like relaxing the `cabal-version` should be allowed in revisions.

I'm not sure what you mean by "officially supported". Who is an official in this situation? Stack 1.5.1 worked with GHC 8.2 for many months until you broke it on December 4.

Yes, Stack users can work around this problem by doing `stack upgrade` (not `stack --upgrade`). Nevertheless, this problem affects people using build pl

[2017-12-10 15:03] 23Skidoo commented on #120
Mostly because of enterprise users who can be slow to upgrade, I think, and the fact that it breaks pre-Dec 04 snapshots that used to work. IMO, a server-side fix makes sense in this case, like the one we did for `cabal-install` not so long ago (see https://github.com/haskell/cabal/issues/4899).

[2017-12-10 15:25] phadej commented on #120
Enterprise users should ask for stack 1.5.2 first (

Sent from my iPhone

[2017-12-10 15:39] phadej commented on #120
To expand the previous:

- As I understand, `stack-1.5.1` ignores `cabal-version >= 2.0` packages, but as integer-gmp is a bit special: it's not ignored. So there's a bug in `stack-1.5.1`. Shouldn't be hard to fix, and have `stack-1.5.1.1` or `stack-1.5.2`.
- Alternatively `Cabal-2.0` support could be backported to `1.5.1` (at least parser bits). *Sidenote:* `stack-1.6.1.` doesn't support all `cab

[2017-12-10 15:50] 23Skidoo commented on #120
IMO a point release of Stack from the 1.5 branch is also a good idea, but that's a separate issue and I think we can provide a server-side fix for the users of 1.5.1 as well.

[2017-12-10 16:01] gbaz commented on #120
I too tend to think a revision is a good way forward here, but I also share the concern that in the past, stack maintainers have argued vociferously against use of revisions. If @mgsloan or @snoyberg could sign off on this I'd feel much more comfortable.

[2017-12-10 16:16] snoyberg commented on #120
@phadej Your understanding is incorrect, please read the blog post where I explain the situation. https://www.snoyman.com/blog/2017/12/stack-and-nightly-breakage

I _am_ opposed to revisions, but that's a cost that's already sunk. Using it to fix this issue will be fine and introduce no further breakage, so I don't have an objection to _yet another_ revision appearing on Hackage.

[2017-12-10 16:54] hvr commented on #120
The irony really isn't lost on me that it's the very people that have been vehemently opposing Hackage revisions to the point of threatening to fork Hackage are the same ones equally violently *demanding* a Hackage revision to be made. But I'm pleased that you've come around on the merit of Hackage revisions.

While I remain convinced that from a technical POV this particular revision has little m

[2017-12-10 16:54] #120 closed

[2017-12-10 17:21] tfausak commented on #120
That revision doesn't fix the problem because it still requires `cabal-version: 2`.

[2017-12-10 17:29] gbaz commented on #120
That's all that can be accomplished with revisions. They're deliberately limited in scope.

Cf: https://github.com/haskell-infra/hackage-trustees/blob/master/revisions-information.md#what-can-revisions-change

The version can only be changed between 1.10 and 1.21, because the spec didn't change over that range.

My understanding from other discussions was that only the bounds needed to be changed,

[2017-12-10 17:30] 23Skidoo commented on #120
@snoyberg Can you confirm that? Cabal 1.24 can parse files with unsupported `cabal-version` as long as they don't actually use new features.

[2017-12-10 17:44] tfausak commented on #120
Ah, you're right. I spoke too soon. That revision fixes the problem as far as `integer-gmp` is concerned. Thank you!

However, as [leon predicted out on Trac](https://ghc.haskell.org/trac/ghc/ticket/14558#comment:8), now `base-4.10.1.0` fails.

[code]

It uses `^>=` constraints in three places:

[code]

https://hackage.haskell.org/package/base-4.10.1.0/revision/0.cabal

[2017-12-10 17:50] hvr commented on #120
As far as I understand it, this only affects the more recent GHC 8.2.2 based nightlies. I doubt that conservative enterprise users which haven't yet upgraded to Stack 1.6.1  would rely on such bleeding edge unstable nightly snapshots.

[2017-12-10 18:32] 23Skidoo commented on #120
IMO if 8.2.2 snapshots also used to work, even if briefly, we should also make a Hackage revision for base-4.10.1.0. However, I think it'll be fine if GHC 8.2.3 and 8.4.1 will require upgrading Stack.

[2017-12-10 18:36] tfausak commented on #120
I agree with @23Skidoo. Some snapshots used to work. They don’t anymore. It would be nice if they could work again.

For future versions of GHC, I won’t be happy about seeing `^>=` constraints, but it shouldn’t cause any problems.

(It is hard for me to follow this thread because @hvr blocked me on GitHub. I do not get notifications about his comments. Sorry for the slow reply.)

[2017-12-10 19:35] gbaz commented on #120
I think we should consider this fixed at this point. The main issue at
stake was that it broke 8.2.1 nightlies that used to work, and which people
had come to rely on. In general, nightlies are allowed to be somewhat
unstable. Given the heat generated thus far, and that things are in a "good
enough" state, I'd rather just let things cool off and move forward.

On Sun, Dec 10, 2017 at 1:36 PM, Tayl

[2017-12-10 19:37] tfausak commented on #120
Stackage had 6 working nightly snapshots with GHC 8.2.2 (starting with [2017-11-25](https://www.reddit.com/r/haskell/comments/7fbwrn/stackage_nightly_now_using_ghc_822/)) before they were broken on December 4.

[2017-12-10 22:27] mgsloan commented on #120
Yay, thanks!  Consider the vendetta on my part greatly relaxed.  BTW, that was my personal opinion not the opinion of FP Complete, please do not represent my comments out of context on twitter.  That's kinda shitty.

Would still like to see cassava fixed, but I suppose that's water under the bridge.  Sorry for being so intense about it.  You can unblock me if you want, hvr , this is exactly the co

[2017-12-13 15:00] tfausak commented on #120
Hey y'all. I would re-open this, but apparently I can't. These new caret bounds are a still a problem, but now it's because of `base-4.10.1.0` instead of `integer-gmp`. I mentioned that a few days ago (https://github.com/haskell-infra/hackage-trustees/issues/120#issuecomment-350565109) but nobody has commented on it. This is causing real problems for me: https://ci.appveyor.com/project/TaylorFausa

[2017-12-13 16:34] gbaz commented on #120
I believe there are two solutions to the base issue, as discussed above. Either A) use the newest stack, or B) use a nightly snapshot prior to 8.2.2. As discussed above, it seems to me that this suffices.

[2017-12-13 16:40] tfausak commented on #120
Indeed, upgrading Stack is a solution to this problem. So is downgrading to an older resolver. However those are also solutions to the original `integer-gmp` problem. I am interested in keeping existing build plans working. It used to be that using `nightly-2017-11-25` with Stack 1.5.1 worked. As of December 4, it stopped working. If it's worth fixing `integer-gmp`, it seems like it should be wort

[2017-12-15 23:51] jtojnar commented on #105
What is the status of this NMU? It seems to be stuck on the second step of the procedure, is that right?

The pull request is here: https://github.com/vasylp/hgettext/pull/11

[2017-12-17 22:10] hvr commented on #105
Thanks for the reminder; expect a new release soon!

[2017-12-19 19:24] tfausak opened #121 "base-4.10.1.0 needlessly uses cabal-version: 2.0"
https://hackage.haskell.org/package/base-4.10.1.0/revision/0.cabal

This is the same basic issue as #120. In fact, I mentioned it several times there. I'm opening a new issue because I can't re-open that one.

Can `base-4.10.1.0` be revised to remove the `^>=` constraints?

[2017-12-29 22:50] hvr commented on #105
@jtojnar sorry, I got side-tracked; it should be addressed by http://hackage.haskell.org/package/hgettext-0.1.31.0 now

[2017-12-29 22:50] #105 closed

[2018-01-07 19:44] hvr opened #122 "Packages missing upper bounds against either-5.0"
- [x] https://matrix.hackage.haskell.org/package/postgresql-query
 - [x] https://matrix.hackage.haskell.org/package/validate-input
 - [x] https://matrix.hackage.haskell.org/package/ical
 - [x] https://matrix.hackage.haskell.org/package/thumbnail-plus

[2018-01-13 18:08] dmwit opened #123 "microlens-0.4.8.2 has garbage inside"
It looks like the tarball for microlens-0.4.8.2 didn't get made quite right. In particular, the file src/Lens/Micro/Extra.hs inside has garbage and not Haskell code, causing the build to fail outright.

It would be nice to let cabal's solver know not to use this version if possible.

[2018-01-13 18:09] dmwit commented on #123
Oh, and it looks like upstream has been notified here:

https://github.com/aelve/microlens/issues/99

[2018-01-13 18:16] glguy commented on #123
After confirming that multiple .hs files were in fact binary data I've updated the constraint on this particular version to be unsatisfiable.

[2018-01-13 18:16] phadej commented on #123
http://hdiff.luite.com/cgit/microlens/diff?id=0.4.8.2&id2=0.4.8.1

https://matrix.hackage.haskell.org/package/microlens Matrix is red atm

[2018-01-13 18:19] hvr commented on #123
It looks like some random memory buffers from the machine producing the src-dist (containing something that looks like a bash history fragment) got written into the .tar... and judging from those shell fragments, this release could have been tarred up by Stack.

[2018-01-13 18:25] dmwit commented on #123
Looks like other packages may be affected. microlens-th-0.4.1.2 just failed for me. I'm checking in on the rest of the microlens-* family now.

[2018-01-13 18:33] dmwit commented on #123
microlens-th appears (to me) to be the only other package in the family to be affected.

[2018-01-13 18:41] glguy commented on #123
microlens-th-0.4.1.2 was also affected

[2018-01-13 21:58] neongreen commented on #123
The corrupted versions have been marked as unsatisfiable and I've uploaded new versions.

Thanks guys!

[2018-01-14 11:59] gwils opened #124 "foundation 0.0.18"
Foundation 0.0.18 gives a bad install plan on GHC 7.8, as described here:
https://github.com/haskell-foundation/foundation/pull/460

The matrix builder confirms:
https://matrix.hackage.haskell.org/package/foundation#GHC-7.8/foundation-0.0.18

Please tighten the base bound to `base >=4.8 && <5`

[2018-01-14 12:41] phadej commented on #124
Made a revision. Thanks for report!

https://hackage.haskell.org/package/foundation-0.0.18/revisions/

[2018-01-14 12:41] #124 closed

[2018-01-14 17:29] #123 closed

[2018-01-15 14:31] phadej commented on #119
Related issue: memory-0.14.12 fails to compile with GHC-7.8.4.
https://github.com/vincenthz/hs-memory/issues/44

[2018-01-17 08:08] hvr opened #125 "packages affected by inaccurate conduit related bounds"
- https://matrix.hackage.haskell.org/package/hoogle  (c.f. ndmitchell/hoogle#234)

[2018-01-17 08:22] ndmitchell commented on #125
I've manually revised Hoogle 5.*. Happy to revise Hoogle 4.* if anyone wants and can give me the error (my guess is the matrix builder will do so shortly).

As a matter of course, perhaps you should @ndmitchell when raising issues about my packages, and similarly for everyone else? Otherwise there's a non-zero chance I would have missed this.

[2018-01-28 12:57] phadej opened #127 "http-types-0.11 semantic changes"
`amazonka` compiles but is broken, see issuee and comment; https://github.com/brendanhay/amazonka/issues/440#issuecomment-361061006

[2018-01-29 14:37] phadej commented on #127
`amazonka-core` resolved, See https://github.com/brendanhay/amazonka/pull/445

[2018-02-01 11:44] hvr opened #128 "Invalid version number syntax for pre 1.24 spec versions"
TBD

[2018-02-04 08:11] mrkkrp opened #129 "Invalid bounds in bzlib-conduit"
The package does not work with `conduit-1.3.0`, although it has `conduit >= 0.5`, which is incorrect. Also reported on the issue tracker of `bzlib-conduit`.

[2018-02-04 08:34] hvr commented on #129
- [upstream issue](https://github.com/snoyberg/bzlib-conduit/issues/4)

Oh dear, after quickly assessing the situation I notice that quite a few of latest releases of packages pertaining to the conduit ecosystem have started removing version bounds (sometimes even lower bounds) for no apparent reason... :-/

Curiously, `bzlib-conduit-0.2.1.4` had a proper upper bound on `conduit`, which I've now r

[2018-02-04 09:04] hvr opened #130 "packages missing upper bounds against conduit-1.3"

[2018-02-04 19:06] phadej commented on #130
I'll check `amazonka-core` tomorrow (on Monday)

[2018-02-07 20:50] phadej commented on #130
## amazonka-core
![screenshot from 2018-02-07 22-50-05](https://user-images.githubusercontent.com/51087/35940898-5181a77c-0c59-11e8-824d-ebb57aa470ac.png)

[2018-02-08 07:07] phadej commented on #130
`amazonka-core` fixed: https://github.com/brendanhay/amazonka/pull/448

[2018-02-12 05:20] feuerbach opened #131 "Seeking advice on mass-adding upper bounds"
Hi,

I'm about to release a new major version of tasty, and some of its core revdeps that I maintain (e.g. tasty-quickcheck) are going to be be affected.

This looks like a great use case for upper bounds and cabal file revisions, but there's no way I'm going to update every released version by hand.

Are there any tools I could use to automate this?

[2018-02-12 15:38] hvr commented on #131
As a matter of fact, there is; when batch-edits become unavoidable, trustees use https://github.com/hackage-trustees/hackage-cli which allows to fetch a set of `.cabal` files (with an optional version filter) into the current folder; then you can operate on them with whatever text tools you see fit (e.g. like `git init & git add .`, throw `sed` at them; inspect `git diff` output, repeat until you'

[2018-02-12 17:31] feuerbach commented on #131
Thanks Herbert, I'll give it a try.

[2018-02-12 18:37] #131 closed

[2018-02-22 12:47] ocramz opened #132 "Spam/fraudulent packages on Hackage"
https://hackage.haskell.org/package/my-test-docs
https://hackage.haskell.org/package/Facebook-Password-Hacker-Online-Latest-Version

(I've just sent a mail about it to `libraries` as well)

[2018-02-22 21:54] NJBS commented on #132
https://hackage.haskell.org/package/Fortnite-Hack-Cheats-Free-V-Bucks-Generator-1.0.1
https://hackage.haskell.org/package/Clash-Royale-Hack-Cheats

two more malicious uploads

[2018-02-22 21:56] gbaz commented on #132
Do we need to put hackage on lockdown for the time being? Shoot.

[2018-02-22 22:00] gbaz commented on #132
(i disabled the account just now, but we need to prevent the spammer from making new ones)

[2018-02-22 22:06] NJBS commented on #132
@gbaz thanks, do note however that these packages were uploaded by two accounts:
https://hackage.haskell.org/user/hejirumo
https://hackage.haskell.org/user/bobo8

Your message makes it seem like you only disabled one, so I just want to make sure it's clear that it's two accounts :smile:

[2018-02-22 22:07] gbaz commented on #132
The other account was disabled earlier.

[2018-02-22 22:31] tfausak commented on #132
More:

- https://hackage.haskell.org/package/Mobile-Legends-Hack-Cheats-1.0.1
- https://hackage.haskell.org/package/Eight-Ball-Pool-Hack-Cheats-1.0.1

User: https://hackage.haskell.org/user/bob121

[2018-02-22 22:35] gbaz commented on #132
ok we're going to do an emergency redeploy to turn off the add-to-uploaders-by-default for now. ugh.

[2018-02-22 22:57] gbaz commented on #132
Redeploy done.

There aren't too many bad packages uploaded, but it would be good to black-hole them more thoroughly. In the meantime they can be marked deprecated and their spammy descriptions can be revised away.

Related tickets for erasing them more thoroughly from the UI:

https://github.com/haskell/hackage-server/issues/201
https://github.com/haskell/hackage-server/issues/382

[2018-02-22 23:24] hvr commented on #132
I've made revisions to the packages exhibiting signs of unsolicited advertisement reported here.

[2018-02-23 09:21] hvr opened #133 "SafeHaskell meta-ticket"
This issue collects SafeHaskell related failures which seem to be sneaking in recently

 - [ ] https://matrix.hackage.haskell.org/package/validation

[2018-02-23 10:50] ocramz commented on #132
Thank you @hvr and @gbaz for responding promptly to this.

[2018-02-23 10:57] hvr commented on #132
@ocramz Yes we're intending to do so mid/long-term, but since this wasn't a concern in the past and the data model isn't optimised for this, we need to do a bit of preparatory work before we can handle this properly. We just did short-term the things we could do easily, and the rest will come later.

[2018-02-26 16:53] RyanGlScott opened #134 "ghc-8.2.2 missing from Hackage"
Creating an issue here per @hvr's request.

Currently, there is a Hackage entry for [ghc-8.2.1](http://hackage.haskell.org/package/ghc-8.2.1), but not for 8.2.2. Can someone with the necessary powers upload 8.2.2 as well?

[2018-02-26 18:29] RyanGlScott commented on #125
Perhaps https://github.com/snoyberg/conduit/issues/353 also falls under this?

I've worked around this manually in https://github.com/bos/criterion/commit/bd5898ba4f705ee228e1d6e03982346f34124b47 by adding a `resourcet >= 1.1.11` bound. I'm not sure when what versions of `resourcet` that `conduit-1.2.13` doesn't build with, but I do know that:

* It's broken with `resourcet-1.1.3.3`
* It works wit

[2018-02-26 19:08] phadej opened #135 "GHC-8.4: base-4.11 / template-haskell-2.13 caused breakages"
## Confirmed

- [x] regex-tdfa (1.2.0, 1.2.1, 1.2.2 &ndash; 3 versions)
- [x] semigroupoids (5.2, 5.2.1 &ndash; 2 versions)
- [x] OneTuple (0.1.0 .. 0.2.1 &ndash; 4 versions)
- [x] FPretty (1.0, 1.1 &ndash; 2 versions, 1.0 broken otherwise though)
- [x] blaze-builder (0.3.3.4 .. 0.4.0.2 &ndash; 4 versions, index-state: 2018-02-26T19:09:11Z)
- [x] x509 (1.4.12 .. 1.7.2 &ndash; 14 versions, index-st

[2018-02-26 19:08] phadej commented on #135
regex-tdfa: see https://github.com/ChrisKuklewicz/regex-tdfa/pull/16

[2018-02-26 19:21] ndmitchell commented on #125
@RyanGlScott - it's also not clear why Cabal deliberately picks quite an old version of resourcet. Is there something weird that's causing it to go there?

[2018-02-26 19:35] hvr commented on #125
@ndmitchell Most likely because it tries to optimise for the freshness of some other package (I suspect for `exception-0.9`), which forces it to compromise on `resourcet`; in general this isn't an optimization problem with a clear optimal solution / criteria to optimise for. And this wouldn't be a problem anyway if `conduit`'s dependency specification had accurate lower bounds.

[2018-02-26 19:36] phadej commented on #125
http://hackage.haskell.org/package/resourcet-1.1.3.3 is the last version not depending on `transformers-compat`. As every other newer resourced-1.1 version depends on `transformers-compat <0.6` (or `<0.5`).

Solver *choses* that it's better to pick `transformers-compat-0.6` than `resourcet-1.1.11` for install plan.

diff between non-restricted, and `--constraint=resourcet>=1.1.11` plans. One could

[2018-02-26 20:37] RyanGlScott commented on #135
I think every package listed in https://github.com/hvr/head.hackage/tree/0d9c69c580b270c4c70565e56b1fec5cfdb63ce9/patches that hasn't had a newer release since then would fall under this list, in fact.

[2018-02-27 09:29] phadej commented on #135
@RyanGlScott yes and no.
- There might be old versions which have invalid install plan with base-4.11 or/and template-haskell-2.13.
- Some packages in `head.hackage` have proper upper bounds, so even they don't have compatible release they aren't broken (e.g. `cabal-doctest`). Note: not supporting GHC-8.4.1 doesn't mean being broken for me - bounds aren't wrong.

semigroupoids-5.2.1 fails with e.g

[2018-02-27 11:07] RyanGlScott commented on #135
Sure, I'm not suggesting that all of these packages need revisions, but rather a sizable subset of them. The `FPretty` and `OneTuple` packages come to mind from that list. I can construct a more exhaustive list later.

[2018-02-27 11:56] phadej commented on #135
@RyanGlScott thanks for the pointers, and yes, if you know what's broken, that will help trustees a lot!

## OneTuple

[code]

[code]

## FPretty

[code]

[code]

[2018-02-27 13:39] snoyberg opened #136 "No way to tell which versions of dependencies are tested against"
For example, in https://matrix.hackage.haskell.org/package/conduit#GHC-7.10/conduit-1.2.13, it's impossible (at least for me) to see which version of resourcet was picked by the dep solver, making it close to impossible to determine what exactly went wrong here. It seems like it would be very useful for both failing _and_ succeeding builds to see the build plan chosen.

[2018-02-27 14:15] RyanGlScott commented on #135
Some others:

* `blaze-builder-0.4.0.2` (https://github.com/lpsmith/blaze-builder/pull/10, https://github.com/lpsmith/blaze-builder/pull/11, and https://github.com/lpsmith/blaze-builder/pull/13)
* `boxes-0.1.4` (https://github.com/treeowl/boxes/pull/30)
* `bytestring-trie-0.2.4.1`
* `critbit-0.2.0.0` (https://github.com/bos/critbit/pull/92)
* `formatting-6.3.0` (https://github.com/chrisdone/format

[2018-02-27 15:03] phadej commented on #135
@RyanGlScott thanks for the list, I'll go thru it in some order

## blaze-builder

[code]

## x509

The matrix was full green with `index-state: 2017-11-21T03:04:47Z` (3 months ago) (GHC >= 7.4 && <8.4 matrix)

[code]

[2018-02-27 17:28] hvr commented on #136
That's a great idea, and in fact I've got good news! It's been on the feature roadmap and there's been some work on that in the context of last year's GSOC - Stay tuned!

[2018-02-27 22:15] gwils commented on #136
I would also like this.

In particular, when my build fails due to a dependency failing to build, I would like to know which one.

https://matrix.hackage.haskell.org/package/validation#GHC-7.4/validation-0.5.2

[2018-03-04 19:52] erikd commented on #130
I'm seeing things related to this on code that uses the `http-conduit` and `http-client` set of libraries.

I'm currently working around it by adding `streaming-commons >= 0.1.18 && < 0.2` to my package depends (even though my package does not use that package directly).

[2018-03-05 09:05] phadej commented on #130
@erikd I don't see how `http-conduit` + `http-client` and `streaming-commons` interact?

[2018-03-05 10:33] erikd commented on #130
Ah, its an indirect dependency. `http-conduit` -> `conduit-extra` -> `streaming-commons`.

[2018-03-05 11:16] phadej commented on #130
@erikd See https://matrix.hackage.haskell.org/package/conduit-extra

Seems Michael revised `conduit-extra-1.2.3.2` as you did https://hackage.haskell.org/package/conduit-extra-1.2.3.2/revisions/

So if you can, you can have `conduit-extra >=1.2.3.2 && < 1.3` in your app, so older `conduit-extra` won't be picked.

I'll add `conduit-extra` to the list above.

[2018-03-05 19:33] erikd commented on #130
I ended up having to do this: https://github.com/erikd/jenga/commit/03564c642e9f23bd2a744aa77b02a82c53cea95f

[2018-03-07 09:38] phadej opened #137 "warp 3.0.9.1 ... 3.2.13 fails due streaming-0.2"
~ 40 versions

[code]

[2018-03-07 10:41] phadej commented on #137
[code]

[2018-03-07 14:57] phadej opened #138 "clay-0.12.3 breaking change."
See https://github.com/sebastiaanvisser/clay/issues/161 and https://github.com/fpco/stackage/issues/3336

at least `threepenny-gui-flexbox` is affected

Revdeps:

- Lykah
- markup
- threepenny-gui-flexbox
- wai-middleware-content-type
- web-page

[2018-03-07 17:03] hvr opened #139 "inaccurate unordered-container:hashable bounds"
This affects releases prior to `unordered-containers-0.2.9`

[code]

[2018-03-07 17:21] phadej commented on #137
Revisions made. I accidentally revised also 3.2.15..3.2.17, but I undid them

[2018-03-07 17:23] hvr commented on #139
After a bit of investigation, `hashable >= 1.1.1` is needed for all releases `unordered-containers >= 0.2.6`; while at it, I've also added `base < 4.11` where necessary due to missing Semigroup instances:

(WIP)

[2018-03-07 19:57] phadej commented on #137
as `index-state: 2018-03-07T16:26:35Z` matrix is green

[2018-03-07 19:57] #137 closed

[2018-03-07 20:00] phadej commented on #138
Author deprecated 0.12.3 and release 0.13, so I think this is resolved. Solver won't pick 0.12.3 easily. If someone notices issues, please comment.

[2018-03-07 20:00] #138 closed

[2018-03-08 18:21] phadej opened #140 "conduit-extra old versions fail due streaming-0.2"
`index-state: 2018-03-04T16:57:50Z`

Over 30 versions

[2018-03-08 20:15] RyanGlScott opened #141 "GHC 8.4.1 boot libraries missing from Hackage"
The following boot libraries (which are bundled with GHC 8.4.1) appear to be missing from Hackage:
- [x] `base-4.11.0.0`
- [x] `ghc-8.4.1`
- [x] `ghc-boot-8.4.1`
- [x] `ghc-boot-th-8.4.1`
- [x] `ghc-prim-0.5.2.0`
- [x] `ghci-8.4.1`
- [x] `template-haskell-2.13.0.0`

See also:
* Missing GHC 8.2.2 packages: https://github.com/haskell-infra/hackage-trustees/issues/134

[2018-03-08 22:06] tfausak commented on #141
I was just about to report this! It's also worth noting that some of the entries in the release notes are wrong. I made a table showing each package, the version listed in the GHC 8.4.1 release notes, the version actually shipped with GHC 8.4.1, and the current version on Hackage:

Package          | Docs     | Actual   | Hackage  | Action
---              | ---      | ---      | ---      | ---
gh

[2018-03-09 13:27] RyanGlScott commented on #135
In particular, I'd like to request that someone restrict the upper version bounds on `critbit` to `<4.11`, since it's blocking me from upgrading my Travis infrastructure for `criterion` to use GHC 8.4.1 without `head.hackage`.

[2018-03-09 13:50] phadej commented on #135
@RyanGlScott let's see what can be done with `critbit`

[2018-03-09 13:58] phadej commented on #135
8.4.1  8.2.2  8.0.2  7.10.3  7.8.4  7.6.3  7.4.2  7.2.2  7.0.4
critbit-0.2.0.0/  FAIL   OK     OK     OK      OK     OK     OK     OK     OK
critbit-0.1.0.0/  FAIL   OK     OK     OK      OK     OK     OK     OK     OK
critbit-0.0.0.0/  OK     OK     OK     OK      OK     OK     OK     OK     OK

[2018-03-09 14:53] phadej commented on #135
semigroupoids revised

[2018-03-09 18:09] bergmark commented on #141
For the future I'm wondering; Should these issues go on the GHC bug tracker instead? Apart from @hvr I don't think any other trustee has permissions to do anything about this.

[2018-03-09 18:09] RyanGlScott commented on #141
I'd be fine with that. I only filed this here since @hvr instructed me to.

[2018-03-09 19:20] hvr commented on #141
I don't mind much either where we handle this, but the trustee issue tracker seemed fine to me as well, given the operation of uploading boot libs to Hackage is quite relevant to trustee operations, and may require coordination among trustees and admins; and this venue makes notifying the respective parties a bit easier, as well as helps with cross linking (since most of Haskell libraries happen t

[2018-03-10 13:26] hsenag commented on #140
@snoyberg : would you be willing to apply the revision at https://hackage.haskell.org/package/conduit-extra-1.2.3.2/revisions/ to earlier versions of conduit-extra that are also breaking (https://matrix.hackage.haskell.org/package/conduit-extra)? They're causing me some hassle with the HTTP test suite.

[2018-03-10 17:16] snoyberg commented on #140
No, this isn't an activity I'm willing to spend my time on. I've advocated many times for improving this with better tooling instead of manual effort.

[2018-03-11 12:43] hvr commented on #140
![Broken conduit-extra](https://user-images.githubusercontent.com/285533/37252968-8ae18448-252b-11e8-81d7-a02201225278.png)

It's a common misconception that leaving off upper bounds would result in less maintenance effort (assuming one cares about their users not running into unsound install-plans), but especially for packages following the release quickly/often paradigm this ends up resulting in

[2018-03-11 14:53] hsenag commented on #140
@hvr thanks!

[2018-03-12 09:52] phadej commented on #135
postgresql-simple

[code]

[2018-03-12 13:10] phadej opened #142 "Add cookbook recipe: Not in scope: data constructor `CUInt'"
The constructor is exposed `base >= 4.5`

[2018-03-15 01:15] DanBurton opened #143 "Revise haskell-src-meta-0.8.0.2, let it build with ghc 8.4.1"
There is an open PR for relaxing the bounds: https://github.com/bmillwood/haskell-src-meta/pull/72

Haven't heard from @bmillwood yet but I believe this revision to be fairly benign (tests passed on my machine), and it would be a great help for unblocking a lot more stuff to build on ghc-8.4.1. (My interest in this is the `persistent-*` packages in particular.)

[2018-03-15 03:12] gbaz commented on #140
can this ticket be closed as resolved?

(btw, as per https://github.com/haskell-infra/hackage-trustees/issues/131#issuecomment-364960425 there is at least some tool support for mass-editing bounds when necessary...)

[2018-03-15 06:39] hsenag commented on #140
It's fixed from my perspective.

[2018-03-15 08:12] #140 closed

[2018-03-15 20:23] bergmark commented on #143
Filed a revision, see https://github.com/bmillwood/haskell-src-meta/pull/72

[2018-03-15 20:23] #143 closed

[2018-03-16 09:41] phadej commented on #135
free `--index-state='2018-03-16T08:50:47Z'`

[code]

[code]

[2018-03-19 19:19] phadej commented on #135
`2018-03-19T17:33:57Z`

[code]

[2018-03-19 19:27] phadej commented on #135
`2018-03-19T18:11:41Z`

               8.4.1  8.2.2  8.0.2
text-1.2.3.0/  OK     OK     OK
text-1.2.2.2/  FAIL   OK     OK
text-1.2.2.1/  NO-IP  OK     OK
text-1.2.2.0/  NO-IP  OK     OK

[2018-03-19 20:07] phadej commented on #135
`2018-03-19T18:11:41Z`

[code]

[2018-03-20 06:46] gbaz commented on #132
Looking at the logs I noticed that we were still getting a lot of search traffic to the damn spam packages (I guess the keywords on them were high quality!) so I went and blasted them in the nginx conf with a 410 Gone.

[2018-03-20 13:28] phadej commented on #135
`2018-03-19T18:11:41Z`

[code]

[code]

[2018-03-20 13:40] phadej commented on #135
[code]

[code]

[2018-03-20 14:54] gbaz commented on #114
c.f. the matrix which gets very red at the bottom :-) https://matrix.hackage.haskell.org/package/graphviz

[2018-03-20 19:51] merijn opened #145 "tasty 0.11 and 0.12 broken with GHC 8.4.1"
See https://github.com/feuerbach/tasty/issues/214#event-1531833321

[2018-03-21 06:32] phadej commented on #145
@gwils please mention in #135 how many versions were affected, it's an interesting statistic!

[2018-03-21 11:59] gwils commented on #135
[code]

[2018-03-21 14:30] gwils commented on #145
I've made all the necessary revisions so that tasty is now fully green on the matrix builder and with GHC 8.4.1

[2018-03-21 14:30] #145 closed

[2018-03-21 16:18] Merjin commented on #145
random tag typo is random.

[2018-03-22 01:43] gwils commented on #135
boxes has already been revised, and looks good

[code]

[2018-03-22 01:45] gwils commented on #135
[code]

[2018-03-23 20:17] cartazio opened #146 "Fail package is busted on hackage"
https://matrix.hackage.haskell.org/package/fail

Not sure what’s up

@hvr?

[2018-03-23 21:00] hvr commented on #146
cc @alexbiehl

[2018-03-25 21:55] hvr commented on #146
Duplicate of haskell/cabal#5232

[2018-03-25 21:55] #146 closed

[2018-03-26 03:56] gwils commented on #135
[code]

[2018-03-27 19:09] vdorr commented on #132
FYI some people may not get that "No access for this resource" means "After your account is created, you cannot upload until you contact the hackage admins" ;-)

[2018-03-27 19:18] gbaz commented on #132
I'd be happy to take a PR for that. I think the message for the 403 is overridable.

[2018-04-02 12:36] hvr commented on #134
finally: https://hackage.haskell.org/package/ghc-8.2.2

[2018-04-02 12:36] #134 closed

[2018-04-02 17:48] RyanGlScott commented on #141
It looks like all of these libraries are now on Hackage! Thanks, @hvr!

[2018-04-02 17:48] #141 closed

[2018-04-02 20:39] ndmitchell opened #147 "Revise YAML 0.8.29 to avoid failing on GHC 7.4"
https://matrix.hackage.haskell.org/package/yaml shows that YAML 0.8.29 generates a bogus install plan on GHC 7.4. I note that a revision was made to 0.8.28 which fixes the issue by @hvr  - if the revision could be applied to 0.8.29 as well that would be useful.

I've submitted the suitable revision upstream so 0.8.30 will have the correct value from the start.

[2018-04-02 22:54] gwils commented on #147
Thanks. I've made the revision as you've asked.

[2018-04-02 22:54] #147 closed

[2018-04-03 07:07] hvr commented on #135
Fyi, `optparse-applicative` will need a few bounds tightened; I just ran into

[code]

[2018-04-03 10:27] phadej commented on #135
[code]

[2018-04-03 16:24] phadej commented on #135
[code]

[code]

[2018-04-03 17:06] phadej commented on #135
`--index-state='2018-04-03T16:30:48Z'`

[code]

[code]
(same as basement, these are pre-basement versions).

GHC 7.2/7.0 are broken due use of ConstraintKinds

[2018-04-03 19:43] phadej commented on #135
[code]

[code]

[code]

[2018-04-03 19:55] phadej commented on #135
[code]

[code]

[2018-04-03 21:11] phadej commented on #135
[code]

[code]

[2018-04-03 21:30] phadej commented on #135
[code]

[code]

[2018-04-04 06:05] phadej commented on #135
[code]

[code]

[2018-04-04 08:40] alexbiehl opened #148 "permutation and coordinate"
`cabal` couldn't find an install plan for the packages

- http://hackage.haskell.org/package/permutation
- http://hackage.haskell.org/package/coordinate

and gave

[code]

Herbert suggested revising them with
[code]
(and reasonable bounds, of course)

Temporarily setting
[code]

in the cabal.project file helps

[2018-04-04 08:44] hvr commented on #148
@gwils btw, `coordinate` is one of Tony's packages; maybe you could coordinate there?

[2018-04-06 07:30] gwils commented on #148
I've released coordinate-0.2 with a Simple build, and revised build failures on older versions to make the matrix green.

Is adding a custom-setup stanza like that something that hackage metadata revisions can do? If so, should I do that to the old versions? Just coordinate or also permutation?

[2018-04-06 07:52] phadej commented on #148
@gwils yes you can add `custom-setup` stanza.

[2018-04-09 01:07] gwils opened #149 "hinotify 0.3.10 breakages"
hinotify 0.3.10 contains a breaking change: "Use RawFilePath (ByteString) for filenames, from unix package."

This has broken `fsnotify`, and probably [other downstream packages](http://packdeps.haskellers.com/reverse/hinotify)

[code]

[2018-04-09 02:41] gwils commented on #149
I've made revisions to fix the builds for fsnotify.

[2018-04-09 07:30] vaibhavsagar opened #150 "static-canvas version bounds"
`static-canvas` has overly restrictive bounds on `base` and `free`. The maintainer did not respond to a much earlier PR: https://github.com/jeffreyrosenbluth/static-canvas/pull/4. Would it be possible to relax the bounds with a Hackage revision?

[2018-04-09 07:45] phadej commented on #150
Let me see.

[2018-04-09 07:48] gwils commented on #150
I've had a look at the code and tried building, and I think this is a good candidate for relaxating bounds, but I haven't done that before so I'd like a second opinion.

[2018-04-09 10:32] phadej commented on #150
revised

[2018-04-09 10:32] #150 closed

[2018-04-09 14:53] vaibhavsagar commented on #150
Thanks so much @phadej!

[2018-04-13 15:16] phadej opened #151 "OneTuple"
https://mail.haskell.org/pipermail/libraries/2018-April/028719.html

[2018-04-16 00:00] gwils commented on #133
I don't know much about safe haskell, but this looks like the same thing to me:
https://matrix.hackage.haskell.org/package/invertible

[2018-04-16 15:21] gbaz commented on #141
Due to the hackage restore I think these need to be uploaded again :-/

[2018-04-16 15:25] gbaz commented on #141
just the haddocks.

[2018-04-17 23:33] cartazio commented on #146
@hvr is bytestring-builder another package which will make haddock fail?

[2018-04-21 16:35] RyanGlScott opened #153 "GHC 8.4.2 boot libraries missing from Hackage"
The following boot libraries (which are bundled with GHC 8.4.2) appear to be missing from Hackage:

* [ ] `ghc-8.4.2`
* [x] `ghc-boot-8.4.2`
* [x] `ghc-boot-th-8.4.2`
* [x] `ghci-8.4.2`
* [x] `integer-gmp-1.0.2.0`

[2018-05-05 14:16] RyanGlScott commented on #135
`HGL-3.2.3.1` seems to be broken after `isEmptyChan` was removed in `base-4.11`:

[code]

[2018-05-10 09:22] phadej opened #155 "NMU: postgresql-simple"
Release was asked for https://github.com/lpsmith/postgresql-simple/issues/252 explicitly on Mar 31,

I also made a few small .cabal adjustments in  a PR https://github.com/lpsmith/postgresql-simple/pull/253

[2018-05-10 09:32] phadej commented on #155
Sent an email to Leon. This starts a countdown.

[2018-05-14 08:06] gwils opened #156 "Relax bounds for multiplate 0.3"
The newest version of `multiplate` (0.3 at time of writing) has a `transformers` upper bound of `<0.5`, which means it does not have an install plan after GHC 7.10. All that is needed to support more modern GHCs is a bound relaxation to `transformers < 0.6`

I have inspected multiplate's usage of `transformers`, which should not be affected by anything in the changelog for transformers >=0.5
https

[2018-05-14 08:15] gwils commented on #156
I have revised the bound https://hackage.haskell.org/package/multiplate-0.0.3/revisions/

[2018-05-14 08:15] #156 closed

[2018-05-18 18:41] phadej commented on #155
Emailed Leon again. Will do NMU on Friday 25.5 if there are no reply.

I'll prepare release on Monday/Tuesday. Are there any volunteers to review?

[2018-05-21 14:08] byorgey opened #157 "revise directory upper bound for cautious-file"
The `cautious-file` package was uploaded in 2013 and it looks like a Hackage trustee made a revision in 2015.  The maintainer (`greenrd`) has not been seen in quite a while and the listed source repository does not exist anymore (it was on `patch-tag`).

I would like the `directory` upper bound for `cautious-file` to be revised to allow `directory < 1.4`.  I have tested that it builds, and also re

[2018-05-21 14:40] hvr commented on #157
Here's the activity log of greenrd

[code]

So I'd say the maintainer is still around. However, to accelerate things we can do the relaxation and inform the author.

[2018-05-21 15:06] hvr commented on #157
I've performed the requested relaxation (and a few additional metadata tweaks while at it); see

http://hackage.haskell.org/package/cautious-file-1.0.2/revisions/

and informed the author via email.

[2018-05-21 15:06] #157 closed

[2018-05-23 09:15] phadej commented on #155
@gwils I set up a branch

https://github.com/lpsmith/postgresql-simple/compare/v0.5.3.0...hackage-trustees:release-0.5.4.0

Travis build: https://travis-ci.org/hackage-trustees/postgresql-simple/builds/382566872

This is the text I intend to tag the release with:

[code]

[2018-05-24 01:01] gwils commented on #155
The diff looks good to me, and it builds as far back as 7.6 on my machine.
I have some small recommendations for your tag message:

[code]

[2018-05-24 10:02] phadej commented on #155
@gwils thanks!

[2018-05-25 11:45] phadej commented on #155
http://hackage.haskell.org/package/postgresql-simple-0.5.4.0

[2018-05-25 11:45] #155 closed

[2018-05-26 15:27] clinty opened #158 "relax hsx-jmacro dependency on wl-pprint-text"
hsx-jmacro builds just fine with newer wl-pprint-text on GHC >= 8 (and doesn't appear to build with old GHC via jmacro in any case)

https://github.com/Happstack/hsx-jmacro/pull/1

https://github.com/commercialhaskell/stackage/issues/3608

[2018-05-26 17:48] phadej commented on #158
Travis is red and doesn't include GHC-8.2 nor 8.4.

Sent from my iPhone

[2018-05-26 17:50] clinty commented on #158
That's what https://github.com/Happstack/hsx-jmacro/pull/2 is for

[2018-05-31 21:07] phadej opened #159 "eigen"
https://mail.haskell.org/pipermail/libraries/2018-May/028839.html

[2018-05-31 21:07] phadej commented on #151
I got rights.

[2018-05-31 21:07] #151 closed

[2018-06-03 22:27] RyanGlScott opened #160 "GHC 8.4.3 boot libraries missing from Hackage"
The following boot libraries (which are bundled with GHC 8.4.3) appear to be missing from Hackage:

* [x] `ghc-8.4.3`
* [x] `ghc-boot-8.4.3`
* [x] `ghc-boot-th-8.4.3`
* [x] `ghci-8.4.3`

See also https://github.com/haskell-infra/hackage-trustees/issues/153.

[2018-06-04 06:39] gbaz opened #161 "hastache needs a non-maintainer-upload"
it is deprecated in favor of mustache but still has some deps. It needs an nmu to work since it not only needs bounds on base but also semigroup instances.

[2018-06-04 06:59] gwils commented on #148
I've added a custom setup stanza to the latest version of permutation.

[2018-06-04 07:11] phadej commented on #161
Can't the deps be adopted to use stache or microstache?

[2018-06-05 02:39] gbaz commented on #161
Yeah, probably :-) I guess we don't need to keep deprecated packages working forever. Is there a migration guide for hastache ->  microstache?

(this is for the haskell platform website btw)

[2018-06-05 06:48] phadej commented on #161
@gbaz unfortunately no such guide exist.

https://github.com/bos/criterion/commit/df4515c4ba62d444b803d1e80e0f8f96eb4a8d31 might help, seems `hastache` used `MuVar`, where `microstache` relies on `ToJSON` instances (and `Value` values).

As `microstache` is clone of `stache`, https://www.stackbuilders.com/tutorials/haskell/mustache-templates/ should be applicable as well.

[2018-06-08 19:18] cartazio opened #162 "language-glsl doesn't support ghc 8.4"
https://github.com/noteed/language-glsl/issues/18
encoutered in the course of fixing up concat
https://github.com/conal/concat/pull/37#issuecomment-395857087

[2018-06-08 19:34] cartazio commented on #162
also matrix doesn't do any ghc 8.4 stuff yet :(  https://matrix.hackage.haskell.org/package/language-glsl

[2018-06-11 03:42] gwils commented on #162
It's a shame matrix doesn't do GHC 8.4. I use Oleg's `trustee` tool locally. While developing my own libraries, I use it every day to make sure my commits don't break the older GHC's I support.

At the time of writing, language-glsl gives the following matrix:

[code]

[2018-06-11 04:19] gwils commented on #162
I have made revisions to language-glsl so now we get

[code]

[2018-06-11 04:40] gwils commented on #162
... and now with some revisions to pretty:

[code]

Obviously this doesn't solve your actual problem, but at least you won't get bad build plans anymore.

[2018-06-12 14:07] phadej opened #163 "text-format SMP"
https://github.com/bos/text-format/pull/21

That's not the best patch possible, I'll prepare better one.

[2018-06-22 07:11] hvr opened #164 "Packages wrongly advertising compatibility w/ containers-0.6"
- [x] `regex-tdfa`  (12 revisions performed; upstream: ChrisKuklewicz/regex-tdfa#17)
- [x] `hslogger` (several revisions performed; also needed `time < 1.5` bounds)

[2018-06-29 14:29] ndmitchell opened #165 "yaml-0.8.31 causes issues on GHC 7.10 and below"
I'm seeing this on Travis for HLint: https://travis-ci.org/ndmitchell/hlint/builds/397826785

And the Hackage matrix is showing black squares: https://matrix.hackage.haskell.org/package/yaml

CC @snoyberg. Looking at the code, it has a lower bound on base of GHC 8, so not sure what the problem is...

[2018-06-29 17:55] jgm commented on #165
I'm having the same issue with my pandoc CI builds on ghc 7.10.3 + cabal 2.0.

[2018-06-29 18:03] jgm commented on #165
[code]
Looks like the main thing that changed was raising the minimum bound for base to 4.9.1 and the restriction to ghc >= 8.0.2.  But as @ndmitchell says, it's hard to see why cabal's solver didn't just reject the package.

@snoyberg is it impossible to continue to support ghc 7.10.3?  We'll have to drop support for it in pandoc solely because of this package.

[2018-06-29 18:43] ndmitchell commented on #165
@jgm as long as Cabal solver is smart enough to pick an older version (which it isn't for no obvious reason), you can continue supporting 7.10.3 even if it results in using an older yaml.

[2018-06-29 18:49] hvr commented on #165
@ndmitchell the reason matrix.hho has black squares is that the construct `if impl(ghc < 8.0.2) buildable: False` on a library component is something the cabal solver doesn't like much and so doesn't backtrack;

The issues with `buildable: False` have known for some time (and how `buildable: False` and `build-depends` were supposed to interact with each other semantically wasn't too obvious initia

[2018-06-29 19:04] ndmitchell commented on #165
@hvr perfectly happy with the yaml package, I just want it to install :)

Is the advice that @snoyberg should avoid the `impl(ghc)` constraint because that breaks older Cabal users? Saying that people on 5 year old compilers will be fine if only they upgraded their Cabal is really just ditching support for them :(.

[2018-06-29 19:28] jgm commented on #165
@hvr thanks for the pointer about HsYaml; I'd like to use a pure Haskell library if possible. I'll try it out.

[2018-06-29 19:56] ndmitchell commented on #165
@phadej saying you can use GHC out the box if you upgrade all the things around it to me doesn't work - the people who are on old GHC are also on old Cabal and old cabal-install.

[2018-06-29 22:05] gbaz commented on #165
@ndmitchell true enough, but upgrading from an older ghc is hard -- you may have a codebase which is not compatible library changes, other couplings, etc. On the other hand, updating `cabal-install` is just replacing a binary, and should otherwise be just fine.

[2018-07-01 00:52] snoyberg commented on #165
Before I make a release to Hackage, can someone confirm that this release will properly work around the bug in cabal-install? https://github.com/snoyberg/yaml/commit/2735b0946aee1b58a3343b5fc2eabc90d3fe2dcc

[2018-07-01 01:16] snoyberg commented on #165
And here's a workaround for http-client: https://github.com/snoyberg/http-client/commit/1390d6e55d3bfab417660b863af96bb5359064ec.

[2018-07-01 08:07] jgm commented on #165
Michael Snoyman <notifications@github.com> writes:

If you add a cabal 2.0 + ghc 7.10.3 combination to
your travis CI testing, that should give you the answer.

[2018-07-01 11:37] phadej opened #166 "GHC-8.6.1: base-4.12 / template-haskell-2.14"
This is issue is for now to collect packages, we suspect has versions which advertise they are compatible, but in fact aren't. As GHC-8.6 is in early alpha, we shouldn't do anything yet, as things may change.

*Note* we have to be accurate, as some packages may be "guarded" by other packages without GHC-8.6 compatible release (e.g. `hashable` guards `constraints`).

containers-0.6 has own issue: h

[2018-07-01 11:37] phadej commented on #135
new era, GHC-8.6 https://github.com/haskell-infra/hackage-trustees/issues/166

[2018-07-01 11:37] #135 closed

[2018-07-01 12:22] snoyberg commented on #165
Afaict it won't. The bug here is in the solver choosing the wrong version of the yaml package, but building a local package won't trigger that code path. I think I'll just move ahead with the release, do some Hackage revisions, and hope for the best.

[2018-07-01 14:41] snoyberg commented on #165
I've published a new version of yaml, and added the only revision I could that should fix this: totally breaking yaml-0.8.31 (http://hackage.haskell.org/package/yaml-0.8.31/revisions/). Can you both give it a try and let me know if it works? If so, I'll release http-client as well.

[2018-07-01 14:43] hvr commented on #165
Btw, for more or less obvious reasons that won't work due to how constraint solving works

[2018-07-01 16:02] gbaz commented on #165
Let me expand a bit, because I had to work it through myself. If there were no version with the buildable flag set to false, but _instead_ of that, an unsatisfiable constraint were used, things would be fine. However, the existence of such a version means that the solver, finding the current version not satisfiable, would backtrack to the bad version, and then encounter that buildable flag, and th

[2018-07-01 16:43] ndmitchell commented on #165
Would using base versions, skipping any ghc-version test in the Cabal file itself (as this seems to lead to a pot of despair), and then having the Hackage UI display GHC version bounds based on `base` version bounds be the best approach?

[2018-07-01 16:44] gbaz commented on #165
I don' t know what the best long-term approach is. We do have an older ticket suggesting that certainly hackage displaying the base <-> ghc mapping would be a good idea, regardless: https://github.com/haskell/hackage-server/issues/559

[2018-07-01 17:05] ndmitchell commented on #165
@snoyberg I confirm empirically that it's still bust for me.

[2018-07-02 04:29] snoyberg commented on #165
This was an invalid resolution to the situation with http-client: you have broken the most recent version of the package, which people are using, and without a new version to replace it. I do not agree to these kinds of changes to my packages being made, especially without even the courtesy of an explanation being made in this discussion as to what changes you made to my package.

I'll clean this

[2018-07-02 04:33] gbaz commented on #165
I think this  was just a miscommunication. Since you had uploaded a new yaml and attempted to make the prior one unbuildable, I think it was expected the same process would be taken with http-client. I agree that for clarity's sake, it would have been better to handle yaml, and then leave it to you to handle http-client following the same template.

[2018-07-02 04:37] snoyberg commented on #165
I was quite explicit about my intentions and my actions:

The issue here was that a Hackage Trustee—@hvr—felt it appropriate to tell me to stop maintaining my own packages and performed surgery on them without any explanation of the process being taken. This is precisely why the revision mechanism is so disliked by so many. This is an upsetting combination of unacceptable communication style and t

[2018-07-02 04:39] gbaz commented on #165
Yes you were explicit, which is why this was a miscommunication and misunderstanding. I am glad we had this chance to resolve it to everyone's satisfaction.

[2018-07-02 06:13] hvr commented on #165
@snoyberg

I have not; please get your facts straight before jumping to false conclusions

[2018-07-02 06:13] gbaz commented on #165
To expand (and here it seems like more misunderstanding and miscommunication): I don't think the revision made broke the then-most-recent version (0.5.13). Looking at  http://hackage.haskell.org/package/http-client-0.5.13/http-client.cabal it just seems like it swapped out the not-working buildable thing in the build-depends for the correctly-working base < 0 thing,  which should not have broken t

[2018-07-02 07:35] ElvishJerricco commented on #165
@snoyberg Can you elaborate on how the package was broken? @hvr's revision built fine for me with both cabal and stack.

[2018-07-02 07:37] snoyberg commented on #165
It looks like I misread the edit, that's my mistake. All of my other statements stand: this was handled in an unacceptable way, and needs to be addressed by improved processes. Gershom's comment "to everyone's satisfaction" is certainly _not_ true, there is no satisfaction on my side from the behavior of the official haskell.org representatives and Hackage/Cabal maintainers present here. Unfortuna

[2018-07-02 07:40] snoyberg commented on #165
Also, for the record, the reason I got this wrong is that the revision display on Hackage strongly implies that `base < 0` was added regardless of flags. I now know when investigating actions taken by Herbert:

* I cannot hope to have him indicate what his planned actions are, even when discussing one of my own packages
* I cannot trust the information displayed on the Hackage page, but instead ne

[2018-07-02 07:45] ElvishJerricco commented on #165
Considering this issue is resolved, I move that the discussion be taken elsewhere.

[2018-07-02 07:47] snoyberg commented on #165
I've opened up an issue for the incorrect revisions display: https://github.com/haskell/hackage-server/issues/770.

[2018-07-02 08:05] hvr commented on #165
@snoyberg

I'm sorry that you feel that way but as history has shown it's difficult to meet your demands and when things aren't done 100% as requested you seem to resort to personal attacks and ad-hominems (like e.g. [two years ago](https://github.com/snoyberg/snoyman.com-content/blob/a796432a685907c8017eb84c9062c20cf139367b/posts/haskell-org-evil-cabal.md) just as one of several examples). I stay

[2018-07-02 23:24] RyanGlScott commented on #166
I'm guessing that every release of `reflection` back until version 1.3 (the first release to use the quoted Template Haskell name `''(*)`) will need to have its upper version bounds on `base` revised to `< 4.12`? If so, let me know and I'll do this.

[2018-07-02 23:41] phadej commented on #166
No worries, I could make mass-edits. Do you want them sooner? (I'd wait till my proposal is officially approved)

Sent from my iPhone

[2018-07-02 23:42] RyanGlScott commented on #166
Great! No hurry on my end, I just happened to be mucking with `reflection` at the time and remembered of this issue's existence.

[2018-07-05 16:14] phadej opened #167 "diagrams and related"
https://matrix.hackage.haskell.org/package/diagrams-lib

From:

![screenshot from 2018-07-05 19-12-36](https://user-images.githubusercontent.com/51087/42334949-75952d8a-8087-11e8-838f-255eef5c7598.png)

to

![screenshot from 2018-07-05 19-12-45](https://user-images.githubusercontent.com/51087/42334954-7a8ae8ac-8087-11e8-98e0-6e43edc5965c.png)

Also SVGFonts doesn't look good

![screenshot from 201

[2018-07-06 18:30] randen commented on #58
Would it be possible to push the base bounds a bit to support GHC 8.4.3 (maybe <=4.11, rather than <4.11)?  We could switch over the another package for mustache support, but hastache is working perfectly fine for us (and seems to have the most downloads over the years, of all the variants), so it seems like it would be worth it to keep warm.

[2018-07-07 12:05] phadej commented on #58
See https://github.com/haskell-infra/hackage-trustees/issues/161, I assume some code-level changes are needed to support SMP, I haven't checked.

If you really care about `hastache` I'd suggest to take over package. My gut feeling however says that switching to `microstache` or `stache` is better long term.

[2018-07-08 12:12] domenkozar commented on #165
I don't want to heat up this discussion more than needed, but `unsupported-ghc-version` is not ideal for cabal2nix since it tries to eagerly find out dependencies and it ends up in the inputs.

@snoyberg would using `base < 0` instead of non-existing package still satisfy your requirements?

[2018-07-08 19:52] ElvishJerricco commented on #165
@domenkozar Yeesh, didn't think of that. Definitely not ideal. As a workaround, can we add `unsupported-ghc-version = null;` to one of the `xyz-configuration.nix` files?

[2018-07-09 04:48] snoyberg commented on #165
@domenkozar I'm willing to change the cabal file, but I think you're going to have bigger problems than this. The "include a package name as a dependency and the package doesn't exist" approach was cribbed from base:

    -- sanity-check to ensure exactly one flag is set
    if !((flag(integer-gmp) && !flag(integer-simple)) || (!flag(integer-gmp) && flag(integer-simple)))
        build-depends: in

[2018-07-09 16:33] RyanGlScott commented on #164
Here's some more packages I've uncovered in hvr/head.hackage#68 and hvr/head.hackage#70:

* [ ] `ixset-1.1`
* [ ] `ixset-typed-0.4`
* [ ] `language-c-0.8.1`
* [ ] `multiset-0.3.4`

[2018-07-09 16:46] RyanGlScott commented on #166
Here's some more issues I've uncovered in hvr/head.hackage#51, hvr/head.hackage#52, hvr/head.hackage#53, hvr/head.hackage#54, hvr/head.hackage#55, hvr/head.hackage#56, hvr/head.hackage#57, hvr/head.hackage#59, hvr/head.hackage#60, hvr/head.hackage#68, and hvr/head.hackage#70, roughly categorized by how they're failing:

* GHC 8.6 language extension changes, improper upper version bounds on `base`

[2018-07-19 11:41] phadej commented on #163
A made a PR: https://github.com/bos/text-format
Travis build: https://travis-ci.org/phadej/text-format/builds/405767426

[2018-07-20 12:12] newhoggy opened #168 "Locked out of hw-hedgehog package"
For some reason, I've been locked out of my own package and need to be re-instated as the maintainer of the package.

http://hackage.haskell.org/package/hw-hedgehog

Username `newhoggy`.
I also use username `haskellworks`.

Thanks!

[2018-07-20 13:18] gbaz commented on #168
Looks like you accidentally deleted yourself from the maintainer group. I've added you back.

[2018-07-20 13:32] hvr commented on #163
I contacted Bryan on Jun 27th about `text-format` but didn't get any reply yet; so at this point I think we should go forward w/ the NMU (and I'm confident Bryan is ok with it anyway).

[2018-07-20 14:04] newhoggy commented on #168
Thanks!

[2018-07-23 17:22] gbaz commented on #163
added to maintainers group

[2018-07-24 23:12] cartazio opened #169 "strange issue around hlint and cpphs"
[code]

[2018-07-24 23:17] cartazio commented on #169
is this a bug in new-install or bad data?

[2018-07-25 00:10] cartazio commented on #169
(or is it a trustee issue? )
my index state can be reproduced by
` cabal update --index-state='2018-07-24T22:17:34Z'`

[2018-07-25 00:37] gwils commented on #169
With your index state, hlint installs successfully for me with ghc 8.2.2 and 8.4.3
cabal-install version 2.2.0.0
compiled using version 2.2.0.1 of the Cabal library

[2018-07-25 15:55] hvr commented on #169
@cartazio @gwils see https://github.com/haskell/cabal/issues/5379#issuecomment-397733418

[2018-07-25 16:49] phadej commented on #163
Uploaded https://hackage.haskell.org/package/text-format-0.3.2

[2018-07-25 16:49] #163 closed

[2018-07-29 20:52] AndreasPK opened #170 "json-builder is broken from GHC-8.4 onwards."
About 4 Months ago:
https://github.com/lpsmith/json-builder/issues/2

There is also an open pull request with a fix for almost as long.
https://github.com/lpsmith/json-builder/pull/3

Edit: I've also emailed the Author on the 21st of July. Without a response so far.

^

This breaks all dependent packages using GHC-8.4 or newer. I noticed it because it breaks aesons benchmarks.

[2018-07-29 21:20] hvr commented on #170
@AndreasPK are you asking for an NMU?

[2018-07-29 22:14] phadej commented on #170
@AndreasPK out of curiosity, where you use `json-builder`, and can't you move to use `aeson`'s `toEncoding`. If not, why?

[2018-07-29 22:33] AndreasPK commented on #170
I use it transitivly be running aeson benchmarks.

Maybe using toEncoding is a valid replacement, maybe it's not. I honestly don't know.

I'm in the process of benchmarking a change to GHC, and for this I am trying to run benchmarks from various core/popular Haskell packages.
If there are easy fixes I do try to upstream the changes I make to get benchmarks to run. But rewriting the inner workings

[2018-07-29 23:00] phadej commented on #170
FWIW, PR mentioned breaks package for pre-GHC-8.0 . I'd like to see something like https://github.com/bos/text-format/pull/23/files

[2018-07-29 23:03] gwils commented on #170
I have made metadata revisions so that no current version of `json-builder` will try to build on GHC 8.4 or above.

[2018-08-02 15:16] RyanGlScott commented on #160
These are now on Hackage.

[2018-08-02 15:16] #160 closed

[2018-08-02 17:10] jgm opened #171 "foundation/basement fail with inscrutable error messages for for older ghc versions"
See https://github.com/haskell-foundation/foundation/commit/556736e5691ecc270a8a8d310b8772b6f07eabf8#r29694773

I recommend that a lower-bound constraint on base be added, or a constraint `base < 0` conditional on ghc version < 8.0, so that the error message will point in the right direction.

[2018-08-02 17:16] phadej commented on #171
Adding bounds doesn't help with this.

`cabal-install-2.2` from HVR's PPA and upcoming `cabal-install-2.4` will handle these (ab)use of `buildable`. If using those isn't possible, ask maintainer to release a version without `buildable: false`, but using `base` bounds (or other-extensions to guide cabal's solver).

See https://github.com/haskell-infra/hackage-trustees/issues/16

[2018-08-02 17:17] hvr commented on #171
@phadej btw, we actually can, see http://hackage.haskell.org/package/yaml-0.8.31/revisions/

[2018-08-02 18:16] hvr commented on #171
@jgm I've revised `foundation-0.0.21` @ http://hackage.haskell.org/package/foundation-0.0.21/revisions/

can you confirm this works for you (after having `cabal update`d)?

[2018-08-06 18:17] jgm commented on #171
Yes, now I get a better error message:

Error:
    Dependency on unbuildable library from basement
    In the stanza 'library'
    In the package 'memory-0.14.16'

Thanks!

Best,
John

Herbert Valerio Riedel <notifications@github.com>
writes:

[2018-08-06 18:19] jgm commented on #171
Still, I would have expected cabal new-build to find a viable build
path. After all, when I explicitly insert a constraint
basement < 0.0.8 and foundation < 0.0.21, it builds
with ghc 7.10.3.

For now I'll keep these constraints in my cabal file.

Best,
John

John MacFarlane <jgm@berkeley.edu> writes:

[2018-08-06 20:28] phadej commented on #171
@jgm I also revised `basement`: https://hackage.haskell.org/package/basement-0.0.8/revisions/, could you try once again?

[2018-08-06 20:29] hvr commented on #171
@jgm ok, that's *very* strange; can you tell us how to reproduce this?

[2018-08-06 21:57] jgm commented on #171
Works now, thanks!

Oleg Grenrus <notifications@github.com> writes:

[2018-08-07 08:36] #171 closed

[2018-08-12 14:20] hvr opened #172 "inaccurate version bounds in tidal-midi"
migrated from https://github.com/haskell/cabal/issues/5517 (reported originally by @z0it)

## Original situation

![](https://user-images.githubusercontent.com/285533/44003689-2d9ceb92-9e57-11e8-969c-b97124e71f6c.png)

## Current situation (wip)

see https://matrix.hackage.haskell.org/package/tidal-midi

[2018-08-12 18:53] hvr commented on #172
@z0it can you `cabal update` and retry?

[2018-08-12 18:58] z0it commented on #172
@hvr pretty sure I tried this earlier and it didn't work, however I've just done it now and got tidal-midi installed and working. thanks

[2018-08-12 19:15] hvr commented on #172
@z0it well, I performed a couple of metadata revisions to fix the issue; hence why it didn't work when you tried earlier

[2018-08-13 13:39] RyanGlScott commented on #166
Here's some more packages to add to the list (taken from https://github.com/hvr/head.hackage/commit/3c15fe8766d1619f71f201ce086fe4602104d14b and hvr/head.hackage#79). This time, it's packages that break under `MonadFailDesugaring` and have improper upper version bounds on `base`:

* [ ] `c2hs-0.28.5`
* [ ] `graphviz-2999.20.0.2`
* [ ] `gtk2hs-buildtools-0.13.4.0`
* [ ] `haskell-src-exts-1.20.2`
*

[2018-08-23 08:07] hvr opened #173 "Repair hsdev's install-plans"
`hsdev` is in a suboptimal shape and this translates to a poor user experience when trying to install `hsdev` as it's quite easy to hit one of the many bad build plan configurations.

Fixing this involves multiple packages:

 - https://github.com/mvoidex/hformat/issues/2
 - https://github.com/mvoidex/simple-log/issues/4
 - https://github.com/mvoidex/text-region/pull/1
 - ...

## Original Situation

[2018-08-27 08:08] hvr commented on #167
@phadej I can at least explain some of the failures in diagrams-lib: The `diagrams-core` 1.4.1.1 release wasn't backward compatible w/ 1.4.1 as it converted classes into constraintkinds such as e.g.

[code]

I've tried adding unconditional `diagrams-core < 1.4.1.1` bounds in some places where it made sense; it probably won't be enough

[2018-08-28 18:54] hvr commented on #167
As discussed w/ @byorgey I made a revision at https://hackage.haskell.org/package/diagrams-core-1.4.1.1/revisions/ to reject `diagrams-core1.4.1.1` on GHC 7.6 and older; this had the effect of preventing the solver picking the combinations of GHC < 7.6 && diagrams-core>=1.4.1.1 && diagrams-lib >= 1.4.2.2 which would result in these compile failures as can be seen on https://matrix.hackage.haskell.

[2018-08-31 06:29] hvr opened #174 "Repair `pandoc-citeproc`'s install plans"
## Current situation

See https://matrix.hackage.haskell.org/package/pandoc-citeproc

## Original situation

![pandoc-citeproc](https://user-images.githubusercontent.com/285533/44896268-eee9cf00-acf7-11e8-896c-881e8868f869.png)

[2018-09-04 11:12] #167 closed

[2018-09-17 01:35] gbaz commented on #132
Thanks. I disabled that account :-/

[2018-09-17 01:35] ChaiTRex commented on #132
* http://hackage.haskell.org/package/free-v-bucks-generator-ps4-no-survey-0.2

[2018-09-17 01:46] gbaz commented on #132
look at these revisions, yipe: http://hackage.haskell.org/package/f-ree-hack-cheats-free-v-bucks-generator-0.2/revisions/

[2018-09-17 01:47] gbaz commented on #132
We should kline the spam packages in the nginx conf again too.

[2018-09-17 01:53] gbaz commented on #132
these packages too http://hackage.haskell.org/user/demigod

[2018-09-23 09:10] hvr commented on #166
@quasicomputational thanks for telling us! I've just revised the 4 affected releases of `criterion` accordingly

[2018-09-24 15:04] phadej opened #175 "Make recipe: PolyKinded Typeable (since 7.8?)"
Maybe also figure out when Typeable become not derivable by hand etc.

[2018-09-25 17:00] phadej commented on #164
@gwils have revisited language-c it seems.

There are no other packages listed here. if there are some other packages, let's collect htem in #166